@import '~bootstrap/scss/mixins';
@import '~bootstrap/scss/functions';
@import '~bootstrap/scss/variables';

$primary: #6837fc;
$danger: #ef4d56;
$text-icon-dark: #1a2634;
$link-color: $primary;
$theme-colors: (
  primary: $primary,
  danger: $danger,
  // add any additional color below
);

//Buttons
$btn-height: 48px;
$btn-line-height: 48px;
$btn-padding-y: 0;
$btn-font-weight: 700;
$btn-border-radius: 12px;
$btn-font-size: 16px;
$btn-padding-x: 20px; // todo, $spacer PR should change this to $spacer*5
$btn-padding-y-sm: 0;
$btn-padding-x-sm: 16px;
$btn-font-size-sm: 14px;
$btn-padding-y-lg: 0;
$btn-padding-x-lg: 24px;
$btn-font-size-lg: 18px;
$btn-border-radius-sm: 10px;
$btn-border-radius-lg: 14px;
$btn-disabled-opacity: 0.32;
$btn-hover-bg: #4e25db;
$btn-active-bg: #3919b7;
$btn-secondary-bg: #656d7b14;
$btn-secondary-hover-bg: rgba(101, 109, 123, 0.16);
$btn-secondary-active-bg: rgba(101, 109, 123, 0.24);
$btn-outline-hover-bg: rgba(149, 108, 255, 0.08);
$btn-outline-active-bg: rgba(149, 108, 255, 0.16);
$btn-danger-hover: #cd384d;
$btn-danger-active: #ac2646;
.btn {
  border-width: 0;
}

//Modal

$modal-md: 600px;
$modal-lg: 900px;
$modal-border-radius: 18px;
$modal-footer-border-width:0;

//Breakpoints
$grid-breakpoints: (
  xs: 0,
  sm: 544px,
  md: 768px,
  lg: 992px,
  xl: 1200px,
  xxl: 1200px
);

$container-max-widths: (
  sm: 576px,
  md: 720px,
  lg: 940px,
  xl: 1140px,
  xxl: 1140px
);
