@import "../variables";

.search-list,
.List {
  overflow-x: hidden !important;
  .column {
    flex-direction: column !important;
  }
}

.overflow-visible .search-list,
.overflow-visible .List {
  overflow-x: visible !important;
}

.table-header {
  background-color: $panel-table-header-bc;
  color: $panel-table-header-color;
  border-top-right-radius: $border-radius+2;
  border-top-left-radius: $border-radius+2;
  .text-muted {
    color: $panel-table-header-color-muted !important;
  }
  font-weight: 500;
  font-size: $panel-table-header-font-size;
  line-height: $line-height-xsm;
  min-height: $panel-table-header-min-height;
}

.table-column {
  padding: 5px 12px;
}

.dark {
  .table-header {
    background-color: $bg-dark300;
  }
}
