#modal2 {
    .modal {
        z-index: 20000000;
        background-color: rgba(0, 0, 0, 0.25);
    }
}


.modal{
    z-index: 100000;
    .modal-content {
        border-radius: $border-radius-lg;
    }
}

$side-width: 66%;
.dark {
    .inline-modal {
        background: $body-bg-dark;
        border-color: $body-bg-dark;
        box-shadow:rgba(0, 0, 0, 0.25) 0px 1px 6px 0px, rgba(0, 0, 0, 0.25) 0px 1px 4px 0px;
    }
    .modal-footer {
        background: $body-bg-dark;
    }
    .side-modal {
        .modal-header {
            background: $side-modal-header-background-dark;
        }
        &__footer {
            background: $side-modal-header-background-dark;
        }
    }
    .modal-header {
        background: $modal-header-background-dark;
        color: $modal-header-color-dark !important;
    }
    .modal-body {
        background: $body-bg-dark;
    }
    .modal-content {
        box-shadow:rgba(0, 0, 0, 0.25) 0px 1px 6px 0px, rgba(0, 0, 0, 0.25) 0px 1px 4px 0px;
    }
}

.side-modal {
    overflow-y: hidden !important;
    opacity: 1 !important;
    z-index: 10000000;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;

    .modal-body {
        padding: 0;
        height: calc(100% - 60px);
        overflow-y: auto;
    }

    .modal-header {
        text-transform: none;
        background: $modal-header-background;
        border-radius: 0;
        text-align: left;
    }

    .modal-dialog {
        box-shadow: rgba(75, 75, 75, 0.11) 0px 1px 6px 0px, rgba(75, 75, 75, 0.11) 0px 1px 4px 0px;
        transition: transform .2s ease-out;
        transform: translate(100%, 0%) !important;
        position: absolute;
        max-width: 1000px;
        width: $side-width !important;
        height: 100% !important;
        max-height: 100% !important;
        margin: 0;
        right: 0;
        left: auto;
    }

    &.show {
        .modal-dialog {
            transform: translate(0%, 0%) !important;
        }
    }

    &__footer {
        position: fixed;
        bottom: 0;
        left: 0;
        right: 0;
        padding: 20px;
        height: 130px;
        background-color: $side-modal-header-background;
    }

    .modal-content {
        border: none;
        width: 100%;
        height:100%;
    }
    &.create-feature-modal {
        .modal-body {
            overflow-y: hidden;
        }
        &.overflow-y-auto {
            .modal-body {
                overflow-y: auto;
            }
        }
        .tabs {
            .tab-item {
                margin-top: 16px;
                overflow-y: auto;
                height: calc(100vh - 100px);
            }
        }
        .create-feature-tab {
            margin-top: 16px;
            overflow-y: auto;
            height: calc(100vh - 100px);
        }
    }

}

.disable-transitions {
  .modal-dialog {
    transition: none !important;
  }
}

.inline-modal {
    position: absolute;
    background: $body-bg;
    border-radius: $modal-border-radius;
    z-index: 1;
    box-shadow:rgba(75, 75, 75, 0.11) 0px 1px 6px 0px, rgba(75, 75, 75, 0.11) 0px 1px 4px 0px;
    border: 1px solid $input-border-color;
    .modal-close-btn {
        color: $bt-brand-primary;
    }
    &__title {
        line-height: 40px;
    }
}

.inline-modal--tags {
    width: 350px;
    input.input {
        border: 1px solid $input-border-color !important;
    }
}

.modal-back-btn {
    color: $bt-brand-primary;
    position: absolute;
    left:10px;
    top:0;
    background-color: transparent !important;
    border: none !important;
}

.modal-backdrop {
    bottom: 0;
}

.modal-open {
    position: relative;
    padding-right: 0 !important;
}

.modal-close-btn {
    color: $modal-header-color;
    position: absolute;
    right: 10px;
    background-color: transparent !important;
    border: none !important;
}

.modal.modal-confirm {
    z-index: 200000000000;
    h3 {
        margin-bottom: 0;
    }
}

.modal-open #crisp-chatbox [data-chat-status="initial"] {
    display: none !important;
}

@media (max-width: 600px) { /* portrait tablets, portrait iPad, e-readers (Nook/Kindle), landscape 800x480 phones (Android) */
    .side-modal__footer {
        position: relative !important;
    }
    .side-modal #create-feature-modal {
        height: 100%;
    }
}

.create-segment-modal.modal-open,.create-segment-modal .modal-body {
    overflow-y: hidden !important;
    .tab-item {
        height: calc(100vh - 100px);
        overflow-y: auto;
    }
}
