$arrow: 6px;
$shadow: 0 4px 4px 0 rgba(100, 116, 139, 0.12);
$shadow-dark: 0 4px 4px 0 #00000029;
.react-tooltip.react-tooltip {
  box-shadow: $shadow;
  max-width: 400px;
  font-family: $btn-font-family;
  font-size: $font-size-sm;
  color: $body-color !important;
  text-transform: none;
  text-wrap: wrap;
  --rt-opacity: 1;
  --rt-transition-show-delay: 0.2s;
  background-color: white !important;
  z-index: 9999;

  &.tooltip-lg {
    max-width: 900px;
  }
  i {
    font-style: normal;
    color: $primary;
  }

  .react-tooltip-arrow {
    border-color: white;
  }
}

.dark {
  .react-tooltip {
    background-color: $body-color !important;
    color: white !important;
    box-shadow: $shadow-dark;

    .react-tooltip-arrow {
      border-color: $body-color;
    }
  }
}
