@mixin customScroll {
    /* width */
    &::-webkit-scrollbar {
        height: 10px;
        margin: 10px;
        width: 10px;
    }
    /* Track */
    &::-webkit-scrollbar-track {
        background: $bt-scrollbar-track;
        border-radius: 20px;
    }
    /* Handle */
    &::-webkit-scrollbar-thumb {
        background: $bt-scrollbar-thumb;
        border-radius: 20px;
        &:hover {
            background: $bt-scrollbar-thumb-hover;
        }
    }
}
