.DS_Store
.idea
*.iml
node_modules/
build/
*.log*
npm-debug.log
mobile/common-mobile/
mobile/common/
e2e_screenshots
reports/
reports/*
reports/*
tests/tokens.json
.vscode
mobile/fastlane/report.xml
mobile/*.app.dSYM.zip
pacts/*
ignore/*
coverage/*
.nyc_output/*
.env
env.yaml
.envrc
.vercel
