.idea
frontend/node_modules
frontend/reports
frontend/public
frontend/tests_output
frontend/web/static
frontend/web/project/libs.js
frontend/e2e
frontend/webpack
frontend/api
frontend/web/components/tags/TagValues.tsx
frontend/web/components/pages/EnvironmentSettingsPage.js
frontend/common/utils/base/_utils.js
