[flake8]
max-line-length = 120
max-complexity = 10
exclude = .git,__pycache__,*/migrations/*

per-file-ignores = 
    app/settings/local.py: F403, F405
    app/settings/production.py: F403, F405
    app/settings/saas.py: F403, F405