repos:
  - repo: https://github.com/PyCQA/isort
    rev: 6.0.0
    hooks:
      - id: isort
        name: isort (python)

  - repo: https://github.com/psf/black
    rev: 25.1.0
    hooks:
      - id: black
        language_version: python3
        exclude: migrations

  - repo: https://github.com/pycqa/flake8
    rev: 7.1.1
    hooks:
      - id: flake8
        name: flake8
        args: [--config, api/.flake8]

  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v5.0.0
    hooks:
      - id: check-yaml
      - id: check-json
      - id: check-toml

  - repo: local
    hooks:
      - id: prettier
        name: prettier
        language: node
        entry: prettier
        additional_dependencies:
          - prettier@3.4.2
        args:
          - --check
        types: [javascript, jsx, ts, tsx, markdown, mdx, html, css, json, yaml]

      - id: python-typecheck
        name: python-typecheck
        language: system
        entry: poetry -C api run python scripts/typecheck.py
        require_serial: true
        pass_filenames: false
        types: [python]

  - repo: https://github.com/python-poetry/poetry
    rev: 2.0.1
    hooks:
      - id: poetry-check
        args: ["-C", "api"]

ci:
  skip: [python-typecheck]
  autoupdate_commit_msg: "ci: pre-commit autoupdate"
