# Ignore a bunch of files:
*.html
*.json
*.handlebars
*.css
.bablerc
CHANGELOG.md
frontend/node_modules
frontend/report
frontend/public
frontend/tests_output
frontend/web/static
frontend/web/project/libs.js
frontend/e2e
frontend/webpack
frontend/api
