# Global default rule
*                @flagsmith/flagsmith-engineering

# Specific rules based on directory
/api/            @flagsmith/flagsmith-back-end
/frontend/       @flagsmith/flagsmith-front-end
/infrastructure/ @flagsmith/flagsmith-infrastructure
/docs/           @flagsmith/flagsmith-docs
