openapi: 3.1.0
info:
  title: Flagsmith API
  version: v1
  description: 'Flagsmith''s Core and SDK APIs. Check out <a href=''https://docs.flagsmith.com''>Flagsmith documentation</a>.'
  contact:
    email: support@flagsmith.com
  license:
    name: BSD License
    identifier: BSD-3-Clause
servers:
  - url: 'https://api.flagsmith.com'
    description: Flagsmith API
paths:
  '/api/experiments/environments/{environment_key}/delete-segment-override/':
    post:
      operationId: api_experiments_environments_delete_segment_override_create
      summary: Delete segment override
      description: |2-

            **EXPERIMENTAL ENDPOINT** - Subject to change without notice.

            Deletes a segment override for a feature in the given environment.

            **Feature Identification:**
            - Use `feature.name` OR `feature.id` (mutually exclusive)
            - Feature must belong to the environment's project

            **Segment Identification:**
            - Use `segment.id` (required)

            The segment override must exist for the given feature/environment combination.
            Returns 400 if the segment override does not exist.
            
      parameters:
        - name: environment_key
          in: path
          description: The environment API key
          required: true
          schema:
            type: string
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/DeleteSegmentOverride'
          application/x-www-form-urlencoded:
            schema:
              $ref: '#/components/schemas/DeleteSegmentOverride'
          multipart/form-data:
            schema:
              $ref: '#/components/schemas/DeleteSegmentOverride'
      responses:
        '204':
          description: No response body
      security:
        - tokenAuth: []
        - Master API Key: []
      tags:
        - experimental
  '/api/experiments/environments/{environment_key}/update-flag-v1/':
    post:
      operationId: api_experiments_environments_update_flag_v1_create
      summary: Update single feature state
      description: |2-

            **EXPERIMENTAL ENDPOINT** - Subject to change without notice.

            Updates a single feature state within an environment. You can update either:
            - The environment default state (when no segment is specified)
            - A specific segment override (when segment.id is provided)

            **Feature Identification:**
            - Use `feature.name` OR `feature.id` (mutually exclusive)

            **Value Format:**
            - The `value` field is always a string representation
            - The `type` field tells the server how to parse it
            - Available types: integer, string, boolean
            - Examples:
              - `{"type": "integer", "value": "42"}`
              - `{"type": "boolean", "value": "true"}`
              - `{"type": "string", "value": "hello"}`

            **Segment Priority:**
            - Optional `segment.priority` field controls ordering
            - If field value is null or the field is omitted, lowest priority is assumed
            
      parameters:
        - name: environment_key
          in: path
          description: The environment API key
          required: true
          schema:
            type: string
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/UpdateFlag'
          application/x-www-form-urlencoded:
            schema:
              $ref: '#/components/schemas/UpdateFlag'
          multipart/form-data:
            schema:
              $ref: '#/components/schemas/UpdateFlag'
      responses:
        '204':
          description: No response body
      security:
        - tokenAuth: []
        - Master API Key: []
      tags:
        - experimental
  '/api/experiments/environments/{environment_key}/update-flag-v2/':
    post:
      operationId: api_experiments_environments_update_flag_v2_create
      summary: Update multiple feature states
      description: |2-

            **EXPERIMENTAL ENDPOINT** - Subject to change without notice.

            Updates multiple feature states in a single request. This endpoint allows
            you to configure an entire feature (environment default + all segment overrides)
            in one operation.

            **What You Can Update:**
            - Environment default state (required)
            - Multiple segment overrides (optional)
            - Priority ordering for each segment

            **Feature Identification:**
            - Use `feature.name` OR `feature.id` (mutually exclusive)

            **Value Format:**
            - The `value` field is always a string representation
            - The `type` field tells the server how to parse it
            - Available types: integer, string, boolean
            - Examples:
              - `{"type": "string", "value": "production"}`
              - `{"type": "integer", "value": "100"}`
              - `{"type": "boolean", "value": "false"}`

            **Segment Overrides:**
            - Provide array of segment override configurations
            - Each override must specify: segment_id, enabled, value
            - Optional priority field controls ordering
            - Duplicate segment_id values are not allowed

            
      parameters:
        - name: environment_key
          in: path
          description: The environment API key
          required: true
          schema:
            type: string
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/UpdateFlagV2'
          application/x-www-form-urlencoded:
            schema:
              $ref: '#/components/schemas/UpdateFlagV2'
          multipart/form-data:
            schema:
              $ref: '#/components/schemas/UpdateFlagV2'
      responses:
        '204':
          description: No response body
      security:
        - tokenAuth: []
        - Master API Key: []
      tags:
        - experimental
  /api/v1/admin/dashboard/integrations/:
    get:
      operationId: api_v1_admin_dashboard_integrations_retrieve
      responses:
        '200':
          description: No response body
      security:
        - tokenAuth: []
        - Master API Key: []
      tags:
        - Integrations
  /api/v1/admin/dashboard/organisations/:
    get:
      operationId: api_v1_admin_dashboard_organisations_retrieve
      responses:
        '200':
          description: No response body
      security:
        - tokenAuth: []
        - Master API Key: []
      tags:
        - Admin dashboard
  /api/v1/admin/dashboard/release-pipelines/:
    get:
      operationId: api_v1_admin_dashboard_release_pipelines_retrieve
      responses:
        '200':
          description: No response body
      security:
        - tokenAuth: []
        - Master API Key: []
      tags:
        - Admin dashboard
  /api/v1/admin/dashboard/stale-flags/:
    get:
      operationId: api_v1_admin_dashboard_stale_flags_retrieve
      responses:
        '200':
          description: No response body
      security:
        - tokenAuth: []
        - Master API Key: []
      tags:
        - Admin dashboard
  /api/v1/admin/dashboard/summary/:
    get:
      operationId: api_v1_admin_dashboard_summary_retrieve
      responses:
        '200':
          description: No response body
      security:
        - tokenAuth: []
        - Master API Key: []
      tags:
        - Admin dashboard
  /api/v1/admin/dashboard/usage-trends/:
    get:
      operationId: api_v1_admin_dashboard_usage_trends_retrieve
      responses:
        '200':
          description: No response body
      security:
        - tokenAuth: []
        - Master API Key: []
      tags:
        - Admin dashboard
  /api/v1/analytics/flags/:
    post:
      operationId: api_v1_analytics_flags_create
      description: Class to handle flag analytics events
      responses:
        '201':
          description: No response body
      security:
        - Environment API Key: []
      tags:
        - Analytics
  /api/v1/analytics/telemetry/:
    post:
      operationId: api_v1_analytics_telemetry_create
      description: |-
        Class to handle telemetry events from self hosted APIs so we can aggregate and track
        self hosted installation data
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Telemetry'
          application/x-www-form-urlencoded:
            schema:
              $ref: '#/components/schemas/Telemetry'
          multipart/form-data:
            schema:
              $ref: '#/components/schemas/Telemetry'
      responses:
        '201':
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Telemetry'
      tags:
        - Analytics
  /api/v1/audit/:
    get:
      operationId: api_v1_audit_list
      parameters:
        - name: environments
          in: query
          schema:
            type: array
            items:
              type: integer
              minimum: 0
        - name: is_system_event
          in: query
          schema:
            type:
              - boolean
              - 'null'
        - name: page
          in: query
          description: A page number within the paginated result set.
          required: false
          schema:
            type: integer
        - name: page_size
          in: query
          description: Number of results to return per page.
          required: false
          schema:
            type: integer
        - name: project
          in: query
          schema:
            type: integer
        - name: search
          in: query
          schema:
            type: string
            maxLength: 256
            minLength: 1
      responses:
        '200':
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PaginatedAuditLogListList'
      security:
        - tokenAuth: []
        - Master API Key: []
      tags:
        - Audit
  '/api/v1/audit/{id}/':
    get:
      operationId: api_v1_audit_retrieve
      parameters:
        - name: id
          in: path
          description: A unique integer value identifying this audit log.
          required: true
          schema:
            type: integer
      responses:
        '200':
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AuditLogRetrieve'
      security:
        - tokenAuth: []
        - Master API Key: []
      tags:
        - Audit
  '/api/v1/auth/{method}/activate/':
    post:
      operationId: api_v1_auth_activate_create
      parameters:
        - name: method
          in: path
          required: true
          schema:
            type: string
      responses:
        '200':
          description: No response body
      security:
        - tokenAuth: []
        - Master API Key: []
      tags:
        - Authentication
  '/api/v1/auth/{method}/activate/confirm/':
    post:
      operationId: api_v1_auth_activate_confirm_create
      parameters:
        - name: method
          in: path
          required: true
          schema:
            type: string
      responses:
        '200':
          description: No response body
      security:
        - tokenAuth: []
        - Master API Key: []
      tags:
        - Authentication
  '/api/v1/auth/{method}/deactivate/':
    post:
      operationId: api_v1_auth_deactivate_create
      parameters:
        - name: method
          in: path
          required: true
          schema:
            type: string
      responses:
        '200':
          description: No response body
      security:
        - tokenAuth: []
        - Master API Key: []
      tags:
        - Authentication
  /api/v1/auth/login/:
    post:
      operationId: api_v1_auth_login_create
      description: Class to handle throttling for login requests
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/TokenCreate'
          application/x-www-form-urlencoded:
            schema:
              $ref: '#/components/schemas/TokenCreate'
          multipart/form-data:
            schema:
              $ref: '#/components/schemas/TokenCreate'
      responses:
        '200':
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/TokenCreate'
      tags:
        - Authentication
  /api/v1/auth/login/code/:
    post:
      operationId: api_v1_auth_login_code_create
      description: Override class to add throttling
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/TokenCreate'
          application/x-www-form-urlencoded:
            schema:
              $ref: '#/components/schemas/TokenCreate'
          multipart/form-data:
            schema:
              $ref: '#/components/schemas/TokenCreate'
      responses:
        '200':
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/TokenCreate'
      tags:
        - Authentication
  /api/v1/auth/logout/:
    post:
      operationId: api_v1_auth_logout_create
      description: Use this endpoint to logout user (remove user authentication token).
      responses:
        '204':
          description: No response body
      security:
        - tokenAuth: []
        - Master API Key: []
      tags:
        - Authentication
  /api/v1/auth/mfa/user-active-methods/:
    get:
      operationId: api_v1_auth_mfa_user_active_methods_retrieve
      responses:
        '200':
          description: No response body
      security:
        - tokenAuth: []
        - Master API Key: []
      tags:
        - Authentication
  /api/v1/auth/oauth/github/:
    post:
      operationId: api_v1_auth_oauth_github_create
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/GithubLogin'
          application/x-www-form-urlencoded:
            schema:
              $ref: '#/components/schemas/GithubLogin'
          multipart/form-data:
            schema:
              $ref: '#/components/schemas/GithubLogin'
      responses:
        '200':
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CustomToken'
        '502':
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
      security:
        - tokenAuth: []
        - Master API Key: []
        - {}
      tags:
        - Authentication
  /api/v1/auth/oauth/google/:
    post:
      operationId: api_v1_auth_oauth_google_create
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/GoogleLogin'
          application/x-www-form-urlencoded:
            schema:
              $ref: '#/components/schemas/GoogleLogin'
          multipart/form-data:
            schema:
              $ref: '#/components/schemas/GoogleLogin'
      responses:
        '200':
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CustomToken'
        '502':
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
      security:
        - tokenAuth: []
        - Master API Key: []
        - {}
      tags:
        - Authentication
  '/api/v1/auth/saml/{name}/metadata/':
    get:
      operationId: api_v1_auth_saml_metadata_retrieve
      parameters:
        - name: format
          in: query
          schema:
            type: string
            enum:
              - json
              - xml
        - name: name
          in: path
          required: true
          schema:
            type: string
      responses:
        '200':
          description: No response body
      security:
        - tokenAuth: []
        - Master API Key: []
        - {}
      tags:
        - Metadata
  '/api/v1/auth/saml/{name}/request/':
    post:
      operationId: api_v1_auth_saml_request_create
      parameters:
        - name: format
          in: query
          schema:
            type: string
            enum:
              - html
              - json
        - name: name
          in: path
          required: true
          schema:
            type: string
      responses:
        '200':
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SamlRequest'
            text/html:
              schema:
                $ref: '#/components/schemas/SamlRequest'
      security:
        - tokenAuth: []
        - Master API Key: []
        - {}
      tags:
        - Authentication
  '/api/v1/auth/saml/{name}/response/':
    post:
      operationId: api_v1_auth_saml_response_create
      parameters:
        - name: format
          in: query
          schema:
            type: string
            enum:
              - html
              - json
        - name: name
          in: path
          required: true
          schema:
            type: string
      responses:
        '200':
          description: No response body
      security:
        - tokenAuth: []
        - Master API Key: []
        - {}
      tags:
        - Authentication
  /api/v1/auth/saml/attribute-mapping/:
    get:
      operationId: api_v1_auth_saml_attribute_mapping_list
      parameters:
        - name: organisation
          in: query
          schema:
            type: integer
        - name: page
          in: query
          description: A page number within the paginated result set.
          required: false
          schema:
            type: integer
        - name: saml_configuration
          in: query
          schema:
            type: integer
      responses:
        '200':
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PaginatedSamlAttributeMappingList'
      security:
        - tokenAuth: []
        - Master API Key: []
      tags:
        - Authentication
    post:
      operationId: api_v1_auth_saml_attribute_mapping_create
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/SamlAttributeMapping'
          application/x-www-form-urlencoded:
            schema:
              $ref: '#/components/schemas/SamlAttributeMapping'
          multipart/form-data:
            schema:
              $ref: '#/components/schemas/SamlAttributeMapping'
      responses:
        '201':
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SamlAttributeMapping'
      security:
        - tokenAuth: []
        - Master API Key: []
      tags:
        - Authentication
  '/api/v1/auth/saml/attribute-mapping/{id}/':
    get:
      operationId: api_v1_auth_saml_attribute_mapping_retrieve
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: string
      responses:
        '200':
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SamlAttributeMapping'
      security:
        - tokenAuth: []
        - Master API Key: []
      tags:
        - Authentication
    put:
      operationId: api_v1_auth_saml_attribute_mapping_update
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: string
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/SamlAttributeMapping'
          application/x-www-form-urlencoded:
            schema:
              $ref: '#/components/schemas/SamlAttributeMapping'
          multipart/form-data:
            schema:
              $ref: '#/components/schemas/SamlAttributeMapping'
      responses:
        '200':
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SamlAttributeMapping'
      security:
        - tokenAuth: []
        - Master API Key: []
      tags:
        - Authentication
    patch:
      operationId: api_v1_auth_saml_attribute_mapping_partial_update
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/PatchedSamlAttributeMapping'
          application/x-www-form-urlencoded:
            schema:
              $ref: '#/components/schemas/PatchedSamlAttributeMapping'
          multipart/form-data:
            schema:
              $ref: '#/components/schemas/PatchedSamlAttributeMapping'
      responses:
        '200':
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SamlAttributeMapping'
      security:
        - tokenAuth: []
        - Master API Key: []
      tags:
        - Authentication
    delete:
      operationId: api_v1_auth_saml_attribute_mapping_destroy
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: string
      responses:
        '204':
          description: No response body
      security:
        - tokenAuth: []
        - Master API Key: []
      tags:
        - Authentication
  /api/v1/auth/saml/configuration/:
    get:
      operationId: api_v1_auth_saml_configuration_list
      parameters:
        - name: organisation
          in: query
          required: true
          schema:
            type: integer
        - name: page
          in: query
          description: A page number within the paginated result set.
          required: false
          schema:
            type: integer
      responses:
        '200':
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PaginatedSamlConfigurationList'
      security:
        - tokenAuth: []
        - Master API Key: []
      tags:
        - Authentication
      x-flagsmith-minimum-plan: SCALE_UP
    post:
      operationId: api_v1_auth_saml_configuration_create
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/SamlConfiguration'
          application/x-www-form-urlencoded:
            schema:
              $ref: '#/components/schemas/SamlConfiguration'
          multipart/form-data:
            schema:
              $ref: '#/components/schemas/SamlConfiguration'
      responses:
        '201':
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SamlConfiguration'
      security:
        - tokenAuth: []
        - Master API Key: []
      tags:
        - Authentication
      x-flagsmith-minimum-plan: SCALE_UP
  '/api/v1/auth/saml/configuration/{name}/':
    get:
      operationId: api_v1_auth_saml_configuration_retrieve
      parameters:
        - name: name
          in: path
          required: true
          schema:
            type: string
      responses:
        '200':
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SamlConfiguration'
      security:
        - tokenAuth: []
        - Master API Key: []
      tags:
        - Authentication
      x-flagsmith-minimum-plan: SCALE_UP
    put:
      operationId: api_v1_auth_saml_configuration_update
      parameters:
        - name: name
          in: path
          required: true
          schema:
            type: string
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/SamlConfiguration'
          application/x-www-form-urlencoded:
            schema:
              $ref: '#/components/schemas/SamlConfiguration'
          multipart/form-data:
            schema:
              $ref: '#/components/schemas/SamlConfiguration'
      responses:
        '200':
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SamlConfiguration'
      security:
        - tokenAuth: []
        - Master API Key: []
      tags:
        - Authentication
      x-flagsmith-minimum-plan: SCALE_UP
    patch:
      operationId: api_v1_auth_saml_configuration_partial_update
      parameters:
        - name: name
          in: path
          required: true
          schema:
            type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/PatchedSamlConfiguration'
          application/x-www-form-urlencoded:
            schema:
              $ref: '#/components/schemas/PatchedSamlConfiguration'
          multipart/form-data:
            schema:
              $ref: '#/components/schemas/PatchedSamlConfiguration'
      responses:
        '200':
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SamlConfiguration'
      security:
        - tokenAuth: []
        - Master API Key: []
      tags:
        - Authentication
      x-flagsmith-minimum-plan: SCALE_UP
    delete:
      operationId: api_v1_auth_saml_configuration_destroy
      parameters:
        - name: name
          in: path
          required: true
          schema:
            type: string
      responses:
        '204':
          description: No response body
      security:
        - tokenAuth: []
        - Master API Key: []
      tags:
        - Authentication
      x-flagsmith-minimum-plan: SCALE_UP
  /api/v1/auth/saml/login/:
    post:
      operationId: api_v1_auth_saml_login_create
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/SamlLogin'
          application/x-www-form-urlencoded:
            schema:
              $ref: '#/components/schemas/SamlLogin'
          multipart/form-data:
            schema:
              $ref: '#/components/schemas/SamlLogin'
      responses:
        '200':
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SamlUserToken'
        '401':
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
      security:
        - {}
      tags:
        - Authentication
  /api/v1/auth/token/:
    delete:
      operationId: api_v1_auth_token_destroy
      responses:
        '204':
          description: No response body
      security:
        - tokenAuth: []
        - Master API Key: []
      tags:
        - Authentication
  /api/v1/auth/users/:
    get:
      operationId: api_v1_auth_users_list
      parameters:
        - name: page
          in: query
          description: A page number within the paginated result set.
          required: false
          schema:
            type: integer
      responses:
        '200':
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PaginatedUserList'
      security:
        - tokenAuth: []
        - Master API Key: []
      tags:
        - Authentication
    post:
      operationId: api_v1_auth_users_create
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CustomUserCreate'
          application/x-www-form-urlencoded:
            schema:
              $ref: '#/components/schemas/CustomUserCreate'
          multipart/form-data:
            schema:
              $ref: '#/components/schemas/CustomUserCreate'
      responses:
        '201':
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CustomUserCreate'
      security:
        - tokenAuth: []
        - Master API Key: []
      tags:
        - Authentication
  '/api/v1/auth/users/{id}/':
    get:
      operationId: api_v1_auth_users_retrieve
      parameters:
        - name: id
          in: path
          description: A unique integer value identifying this Feature flag admin user.
          required: true
          schema:
            type: integer
      responses:
        '200':
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/User'
      security:
        - tokenAuth: []
        - Master API Key: []
      tags:
        - Authentication
    put:
      operationId: api_v1_auth_users_update
      parameters:
        - name: id
          in: path
          description: A unique integer value identifying this Feature flag admin user.
          required: true
          schema:
            type: integer
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/User'
          application/x-www-form-urlencoded:
            schema:
              $ref: '#/components/schemas/User'
          multipart/form-data:
            schema:
              $ref: '#/components/schemas/User'
      responses:
        '200':
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/User'
      security:
        - tokenAuth: []
        - Master API Key: []
      tags:
        - Authentication
    patch:
      operationId: api_v1_auth_users_partial_update
      parameters:
        - name: id
          in: path
          description: A unique integer value identifying this Feature flag admin user.
          required: true
          schema:
            type: integer
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/PatchedUser'
          application/x-www-form-urlencoded:
            schema:
              $ref: '#/components/schemas/PatchedUser'
          multipart/form-data:
            schema:
              $ref: '#/components/schemas/PatchedUser'
      responses:
        '200':
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/User'
      security:
        - tokenAuth: []
        - Master API Key: []
      tags:
        - Authentication
    delete:
      operationId: api_v1_auth_users_destroy
      parameters:
        - name: current_password
          in: query
          schema:
            type:
              - string
              - 'null'
        - name: delete_orphan_organisations
          in: query
          schema:
            type: boolean
            default: false
        - name: id
          in: path
          description: A unique integer value identifying this Feature flag admin user.
          required: true
          schema:
            type: integer
      responses:
        '204':
          description: No response body
      security:
        - tokenAuth: []
        - Master API Key: []
      tags:
        - Authentication
  /api/v1/auth/users/activation/:
    post:
      operationId: api_v1_auth_users_activation_create
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Activation'
          application/x-www-form-urlencoded:
            schema:
              $ref: '#/components/schemas/Activation'
          multipart/form-data:
            schema:
              $ref: '#/components/schemas/Activation'
      responses:
        '200':
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Activation'
      security:
        - tokenAuth: []
        - Master API Key: []
        - {}
      tags:
        - Authentication
  /api/v1/auth/users/me/:
    get:
      operationId: api_v1_auth_users_me_retrieve
      responses:
        '200':
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SamlCurrentUser'
      security:
        - tokenAuth: []
        - Master API Key: []
      tags:
        - Authentication
    put:
      operationId: api_v1_auth_users_me_update
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/SamlCurrentUser'
          application/x-www-form-urlencoded:
            schema:
              $ref: '#/components/schemas/SamlCurrentUser'
          multipart/form-data:
            schema:
              $ref: '#/components/schemas/SamlCurrentUser'
      responses:
        '200':
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SamlCurrentUser'
      security:
        - tokenAuth: []
        - Master API Key: []
      tags:
        - Authentication
    patch:
      operationId: api_v1_auth_users_me_partial_update
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/PatchedSamlCurrentUser'
          application/x-www-form-urlencoded:
            schema:
              $ref: '#/components/schemas/PatchedSamlCurrentUser'
          multipart/form-data:
            schema:
              $ref: '#/components/schemas/PatchedSamlCurrentUser'
      responses:
        '200':
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SamlCurrentUser'
      security:
        - tokenAuth: []
        - Master API Key: []
      tags:
        - Authentication
    delete:
      operationId: api_v1_auth_users_me_destroy
      responses:
        '204':
          description: No response body
      security:
        - tokenAuth: []
        - Master API Key: []
      tags:
        - Authentication
  /api/v1/auth/users/me/onboarding/:
    patch:
      operationId: api_v1_auth_users_me_onboarding_partial_update
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/PatchedUser'
          application/x-www-form-urlencoded:
            schema:
              $ref: '#/components/schemas/PatchedUser'
          multipart/form-data:
            schema:
              $ref: '#/components/schemas/PatchedUser'
      responses:
        '200':
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/User'
      security:
        - tokenAuth: []
        - Master API Key: []
      tags:
        - Authentication
  /api/v1/auth/users/resend_activation/:
    post:
      operationId: api_v1_auth_users_resend_activation_create
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/SendEmailReset'
          application/x-www-form-urlencoded:
            schema:
              $ref: '#/components/schemas/SendEmailReset'
          multipart/form-data:
            schema:
              $ref: '#/components/schemas/SendEmailReset'
      responses:
        '200':
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SendEmailReset'
      security:
        - tokenAuth: []
        - Master API Key: []
        - {}
      tags:
        - Authentication
  /api/v1/auth/users/reset_email/:
    post:
      operationId: api_v1_auth_users_reset_email_create
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/SendEmailReset'
          application/x-www-form-urlencoded:
            schema:
              $ref: '#/components/schemas/SendEmailReset'
          multipart/form-data:
            schema:
              $ref: '#/components/schemas/SendEmailReset'
      responses:
        '200':
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SendEmailReset'
      security:
        - tokenAuth: []
        - Master API Key: []
        - {}
      tags:
        - Authentication
  /api/v1/auth/users/reset_email_confirm/:
    post:
      operationId: api_v1_auth_users_reset_email_confirm_create
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/UsernameResetConfirm'
          application/x-www-form-urlencoded:
            schema:
              $ref: '#/components/schemas/UsernameResetConfirm'
          multipart/form-data:
            schema:
              $ref: '#/components/schemas/UsernameResetConfirm'
      responses:
        '200':
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/UsernameResetConfirm'
      security:
        - tokenAuth: []
        - Master API Key: []
        - {}
      tags:
        - Authentication
  /api/v1/auth/users/reset_password/:
    post:
      operationId: api_v1_auth_users_reset_password_create
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/SendEmailReset'
          application/x-www-form-urlencoded:
            schema:
              $ref: '#/components/schemas/SendEmailReset'
          multipart/form-data:
            schema:
              $ref: '#/components/schemas/SendEmailReset'
      responses:
        '200':
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SendEmailReset'
      security:
        - tokenAuth: []
        - Master API Key: []
        - {}
      tags:
        - Authentication
  /api/v1/auth/users/reset_password_confirm/:
    post:
      operationId: api_v1_auth_users_reset_password_confirm_create
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/PasswordResetConfirmRetype'
          application/x-www-form-urlencoded:
            schema:
              $ref: '#/components/schemas/PasswordResetConfirmRetype'
          multipart/form-data:
            schema:
              $ref: '#/components/schemas/PasswordResetConfirmRetype'
      responses:
        '200':
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PasswordResetConfirmRetype'
      security:
        - tokenAuth: []
        - Master API Key: []
        - {}
      tags:
        - Authentication
  /api/v1/auth/users/set_email/:
    post:
      operationId: api_v1_auth_users_set_email_create
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/SetUsername'
          application/x-www-form-urlencoded:
            schema:
              $ref: '#/components/schemas/SetUsername'
          multipart/form-data:
            schema:
              $ref: '#/components/schemas/SetUsername'
      responses:
        '200':
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SetUsername'
      security:
        - tokenAuth: []
        - Master API Key: []
      tags:
        - Authentication
  /api/v1/auth/users/set_password/:
    post:
      operationId: api_v1_auth_users_set_password_create
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/SetPasswordRetype'
          application/x-www-form-urlencoded:
            schema:
              $ref: '#/components/schemas/SetPasswordRetype'
          multipart/form-data:
            schema:
              $ref: '#/components/schemas/SetPasswordRetype'
      responses:
        '200':
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SetPasswordRetype'
      security:
        - tokenAuth: []
        - Master API Key: []
      tags:
        - Authentication
  /api/v1/cb-webhook/:
    post:
      operationId: api_v1_cb_webhook_create
      description: |-
        Endpoint to handle webhooks from chargebee.

        Payment failure and payment succeeded webhooks are filtered out and processed
        to determine which of our subscriptions are in a dunning state.

        The remaining webhooks are processed if they have subscription data:

         - If subscription is active, check to see if plan has changed and update if so. Always update cancellation date to
           None to ensure that if a subscription is reactivated, it is updated on our end.

         - If subscription is cancelled or not renewing, update subscription on our end to include cancellation date and
           send alert to admin users.
      responses:
        '200':
          description: No response body
      security:
        - basicAuth: []
      tags:
        - Webhooks
  /api/v1/environment-document/:
    get:
      operationId: sdk_v1_environment_document
      description: |-
        Retrieve the environment document.
        Used by SDKs in local evaluation mode, and Edge Proxy.
      responses:
        '200':
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/V1EnvironmentDocumentResponse'
      security:
        - Environment API Key: []
      tags:
        - sdk
  '/api/v1/environment-feature-versions/{id}/':
    get:
      operationId: api_v1_environment_feature_versions_retrieve
      description: |-
        This is an additional endpoint to retrieve a specific version without needing
        to provide the environment or feature as part of the URL.
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: string
      responses:
        '200':
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/EnvironmentFeatureVersionRetrieve'
      security:
        - tokenAuth: []
        - Master API Key: []
      tags:
        - Feature states
  /api/v1/environments/:
    get:
      operationId: list_environments
      description: Lists all environments the user has access to
      parameters:
        - name: page
          in: query
          description: A page number within the paginated result set.
          required: false
          schema:
            type: integer
        - name: project
          in: query
          description: ID of the project to filter by.
          schema:
            type: integer
      responses:
        '200':
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PaginatedEnvironmentSerializerWithMetadataList'
      security:
        - tokenAuth: []
        - Master API Key: []
      tags:
        - mcp
    post:
      operationId: api_v1_environments_create
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CreateEnvironment'
          application/x-www-form-urlencoded:
            schema:
              $ref: '#/components/schemas/CreateEnvironment'
          multipart/form-data:
            schema:
              $ref: '#/components/schemas/CreateEnvironment'
      responses:
        '201':
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CreateEnvironment'
      security:
        - tokenAuth: []
        - Master API Key: []
      tags:
        - Environments
  '/api/v1/environments/{api_key}/':
    get:
      operationId: api_v1_environments_retrieve
      parameters:
        - name: api_key
          in: path
          required: true
          schema:
            type: string
      responses:
        '200':
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/EnvironmentRetrieveSerializerWithMetadata'
      security:
        - tokenAuth: []
        - Master API Key: []
      tags:
        - Environments
    put:
      operationId: api_v1_environments_update
      parameters:
        - name: api_key
          in: path
          required: true
          schema:
            type: string
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/UpdateEnvironment'
          application/x-www-form-urlencoded:
            schema:
              $ref: '#/components/schemas/UpdateEnvironment'
          multipart/form-data:
            schema:
              $ref: '#/components/schemas/UpdateEnvironment'
      responses:
        '200':
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/UpdateEnvironment'
      security:
        - tokenAuth: []
        - Master API Key: []
      tags:
        - Environments
    patch:
      operationId: api_v1_environments_partial_update
      parameters:
        - name: api_key
          in: path
          required: true
          schema:
            type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/PatchedUpdateEnvironment'
          application/x-www-form-urlencoded:
            schema:
              $ref: '#/components/schemas/PatchedUpdateEnvironment'
          multipart/form-data:
            schema:
              $ref: '#/components/schemas/PatchedUpdateEnvironment'
      responses:
        '200':
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/UpdateEnvironment'
      security:
        - tokenAuth: []
        - Master API Key: []
      tags:
        - Environments
    delete:
      operationId: api_v1_environments_destroy
      parameters:
        - name: api_key
          in: path
          required: true
          schema:
            type: string
      responses:
        '204':
          description: No response body
      security:
        - tokenAuth: []
        - Master API Key: []
      tags:
        - Environments
  '/api/v1/environments/{api_key}/clone/':
    post:
      operationId: api_v1_environments_clone_create
      parameters:
        - name: api_key
          in: path
          required: true
          schema:
            type: string
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CloneEnvironment'
          application/x-www-form-urlencoded:
            schema:
              $ref: '#/components/schemas/CloneEnvironment'
          multipart/form-data:
            schema:
              $ref: '#/components/schemas/CloneEnvironment'
      responses:
        '200':
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CloneEnvironment'
      security:
        - tokenAuth: []
        - Master API Key: []
      tags:
        - Environments
  '/api/v1/environments/{api_key}/delete-traits/':
    post:
      operationId: api_v1_environments_delete_traits_create
      parameters:
        - name: api_key
          in: path
          required: true
          schema:
            type: string
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/DeleteAllTraitKeys'
          application/x-www-form-urlencoded:
            schema:
              $ref: '#/components/schemas/DeleteAllTraitKeys'
          multipart/form-data:
            schema:
              $ref: '#/components/schemas/DeleteAllTraitKeys'
      responses:
        '200':
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DeleteAllTraitKeys'
      security:
        - tokenAuth: []
        - Master API Key: []
      tags:
        - Environments
  '/api/v1/environments/{api_key}/disable-v2-versioning/':
    post:
      operationId: api_v1_environments_disable_v2_versioning_create
      parameters:
        - name: api_key
          in: path
          required: true
          schema:
            type: string
      responses:
        '202':
          description: No response body
      security:
        - tokenAuth: []
        - Master API Key: []
      tags:
        - Environments
  '/api/v1/environments/{api_key}/document/':
    get:
      operationId: api_v1_environments_document_retrieve
      parameters:
        - name: api_key
          in: path
          required: true
          schema:
            type: string
      responses:
        '200':
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/V1EnvironmentDocumentResponse'
      security:
        - tokenAuth: []
        - Master API Key: []
      tags:
        - Environments
  '/api/v1/environments/{api_key}/enable-v2-versioning/':
    post:
      operationId: api_v1_environments_enable_v2_versioning_create
      parameters:
        - name: api_key
          in: path
          required: true
          schema:
            type: string
      responses:
        '202':
          description: No response body
      security:
        - tokenAuth: []
        - Master API Key: []
      tags:
        - Environments
  '/api/v1/environments/{api_key}/my-permissions/':
    get:
      operationId: api_v1_environments_my_permissions_retrieve
      parameters:
        - name: api_key
          in: path
          required: true
          schema:
            type: string
      responses:
        '200':
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/UserObjectPermissions'
      security:
        - tokenAuth: []
        - Master API Key: []
      tags:
        - Environments
  '/api/v1/environments/{api_key}/trait-keys/':
    get:
      operationId: api_v1_environments_trait_keys_retrieve
      parameters:
        - name: api_key
          in: path
          required: true
          schema:
            type: string
      responses:
        '200':
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/TraitKeys'
      security:
        - tokenAuth: []
        - Master API Key: []
      tags:
        - Environments
  '/api/v1/environments/{api_key}/user-detailed-permissions/{user_id}/':
    get:
      operationId: api_v1_environments_user_detailed_permissions_retrieve
      parameters:
        - name: api_key
          in: path
          required: true
          schema:
            type: string
        - name: user_id
          in: path
          required: true
          schema:
            type: string
            pattern: ^\d+$
      responses:
        '200':
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/UserDetailedPermissions'
      security:
        - tokenAuth: []
        - Master API Key: []
      tags:
        - Environments
  '/api/v1/environments/{environment_api_key}/api-keys/':
    get:
      operationId: api_v1_environments_api_keys_list
      description: Manage server-side SDK keys for an environment.
      parameters:
        - name: environment_api_key
          in: path
          required: true
          schema:
            type: string
      responses:
        '200':
          description: ''
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/EnvironmentAPIKey'
      security:
        - tokenAuth: []
        - Master API Key: []
      tags:
        - Environments
    post:
      operationId: api_v1_environments_api_keys_create
      description: Manage server-side SDK keys for an environment.
      parameters:
        - name: environment_api_key
          in: path
          required: true
          schema:
            type: string
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/EnvironmentAPIKey'
          application/x-www-form-urlencoded:
            schema:
              $ref: '#/components/schemas/EnvironmentAPIKey'
          multipart/form-data:
            schema:
              $ref: '#/components/schemas/EnvironmentAPIKey'
      responses:
        '201':
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/EnvironmentAPIKey'
      security:
        - tokenAuth: []
        - Master API Key: []
      tags:
        - Environments
  '/api/v1/environments/{environment_api_key}/api-keys/{id}/':
    put:
      operationId: api_v1_environments_api_keys_update
      description: Manage server-side SDK keys for an environment.
      parameters:
        - name: environment_api_key
          in: path
          required: true
          schema:
            type: string
        - name: id
          in: path
          description: A unique integer value identifying this environment api key.
          required: true
          schema:
            type: integer
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/EnvironmentAPIKey'
          application/x-www-form-urlencoded:
            schema:
              $ref: '#/components/schemas/EnvironmentAPIKey'
          multipart/form-data:
            schema:
              $ref: '#/components/schemas/EnvironmentAPIKey'
      responses:
        '200':
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/EnvironmentAPIKey'
      security:
        - tokenAuth: []
        - Master API Key: []
      tags:
        - Environments
    patch:
      operationId: api_v1_environments_api_keys_partial_update
      description: Manage server-side SDK keys for an environment.
      parameters:
        - name: environment_api_key
          in: path
          required: true
          schema:
            type: string
        - name: id
          in: path
          description: A unique integer value identifying this environment api key.
          required: true
          schema:
            type: integer
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/PatchedEnvironmentAPIKey'
          application/x-www-form-urlencoded:
            schema:
              $ref: '#/components/schemas/PatchedEnvironmentAPIKey'
          multipart/form-data:
            schema:
              $ref: '#/components/schemas/PatchedEnvironmentAPIKey'
      responses:
        '200':
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/EnvironmentAPIKey'
      security:
        - tokenAuth: []
        - Master API Key: []
      tags:
        - Environments
    delete:
      operationId: api_v1_environments_api_keys_destroy
      description: Manage server-side SDK keys for an environment.
      parameters:
        - name: environment_api_key
          in: path
          required: true
          schema:
            type: string
        - name: id
          in: path
          description: A unique integer value identifying this environment api key.
          required: true
          schema:
            type: integer
      responses:
        '204':
          description: No response body
      security:
        - tokenAuth: []
        - Master API Key: []
      tags:
        - Environments
  '/api/v1/environments/{environment_api_key}/create-change-request/':
    post:
      operationId: create_environment_feature_change_request
      description: Creates a new change request for feature flag modifications in an environment.
      parameters:
        - name: environment_api_key
          in: path
          required: true
          schema:
            type: string
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ChangeRequestCreate'
          application/x-www-form-urlencoded:
            schema:
              $ref: '#/components/schemas/ChangeRequestCreate'
          multipart/form-data:
            schema:
              $ref: '#/components/schemas/ChangeRequestCreate'
      responses:
        '201':
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ChangeRequestCreate'
        '400':
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WorkflowsError'
      security:
        - tokenAuth: []
        - Master API Key: []
      tags:
        - mcp
  '/api/v1/environments/{environment_api_key}/edge-identities/':
    get:
      operationId: api_v1_environments_edge_identities_list
      parameters:
        - name: environment_api_key
          in: path
          required: true
          schema:
            type: string
        - name: last_evaluated_key
          in: query
          description: Used as the starting point for the page
          required: false
          schema:
            type: string
        - name: page_size
          in: query
          description: Number of results to return per page.
          required: false
          schema:
            type: integer
      responses:
        '200':
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PaginatedEdgeIdentityList'
      security:
        - tokenAuth: []
        - Master API Key: []
      tags:
        - Identities
    post:
      operationId: api_v1_environments_edge_identities_create
      parameters:
        - name: environment_api_key
          in: path
          required: true
          schema:
            type: string
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/EdgeIdentity'
          application/x-www-form-urlencoded:
            schema:
              $ref: '#/components/schemas/EdgeIdentity'
          multipart/form-data:
            schema:
              $ref: '#/components/schemas/EdgeIdentity'
      responses:
        '201':
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/EdgeIdentity'
      security:
        - tokenAuth: []
        - Master API Key: []
      tags:
        - Identities
  '/api/v1/environments/{environment_api_key}/edge-identities/{edge_identity_identity_uuid}/edge-featurestates/':
    get:
      operationId: api_v1_environments_edge_identities_edge_featurestates_list
      parameters:
        - name: edge_identity_identity_uuid
          in: path
          required: true
          schema:
            type: string
        - name: environment_api_key
          in: path
          required: true
          schema:
            type: string
        - name: feature
          in: query
          description: ID of the feature to filter by
          schema:
            type: integer
      responses:
        '200':
          description: ''
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/EdgeIdentityFeatureState'
      security:
        - tokenAuth: []
        - Master API Key: []
      tags:
        - Identities
    post:
      operationId: api_v1_environments_edge_identities_edge_featurestates_create
      parameters:
        - name: edge_identity_identity_uuid
          in: path
          required: true
          schema:
            type: string
        - name: environment_api_key
          in: path
          required: true
          schema:
            type: string
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/EdgeIdentityFeatureState'
          application/x-www-form-urlencoded:
            schema:
              $ref: '#/components/schemas/EdgeIdentityFeatureState'
          multipart/form-data:
            schema:
              $ref: '#/components/schemas/EdgeIdentityFeatureState'
      responses:
        '201':
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/EdgeIdentityFeatureState'
      security:
        - tokenAuth: []
        - Master API Key: []
      tags:
        - Identities
  '/api/v1/environments/{environment_api_key}/edge-identities/{edge_identity_identity_uuid}/edge-featurestates/{featurestate_uuid}/':
    get:
      operationId: api_v1_environments_edge_identities_edge_featurestates_retrieve
      parameters:
        - name: edge_identity_identity_uuid
          in: path
          required: true
          schema:
            type: string
        - name: environment_api_key
          in: path
          required: true
          schema:
            type: string
        - name: featurestate_uuid
          in: path
          required: true
          schema:
            type: string
      responses:
        '200':
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/EdgeIdentityFeatureState'
      security:
        - tokenAuth: []
        - Master API Key: []
      tags:
        - Identities
    put:
      operationId: api_v1_environments_edge_identities_edge_featurestates_update
      parameters:
        - name: edge_identity_identity_uuid
          in: path
          required: true
          schema:
            type: string
        - name: environment_api_key
          in: path
          required: true
          schema:
            type: string
        - name: featurestate_uuid
          in: path
          required: true
          schema:
            type: string
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/EdgeIdentityFeatureState'
          application/x-www-form-urlencoded:
            schema:
              $ref: '#/components/schemas/EdgeIdentityFeatureState'
          multipart/form-data:
            schema:
              $ref: '#/components/schemas/EdgeIdentityFeatureState'
      responses:
        '200':
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/EdgeIdentityFeatureState'
      security:
        - tokenAuth: []
        - Master API Key: []
      tags:
        - Identities
    delete:
      operationId: api_v1_environments_edge_identities_edge_featurestates_destroy
      parameters:
        - name: edge_identity_identity_uuid
          in: path
          required: true
          schema:
            type: string
        - name: environment_api_key
          in: path
          required: true
          schema:
            type: string
        - name: featurestate_uuid
          in: path
          required: true
          schema:
            type: string
      responses:
        '204':
          description: No response body
      security:
        - tokenAuth: []
        - Master API Key: []
      tags:
        - Identities
  '/api/v1/environments/{environment_api_key}/edge-identities/{edge_identity_identity_uuid}/edge-featurestates/all/':
    get:
      operationId: api_v1_environments_edge_identities_edge_featurestates_all_list
      parameters:
        - name: edge_identity_identity_uuid
          in: path
          required: true
          schema:
            type: string
        - name: environment_api_key
          in: path
          required: true
          schema:
            type: string
      responses:
        '200':
          description: ''
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/IdentityAllFeatureStates'
      security:
        - tokenAuth: []
        - Master API Key: []
      tags:
        - Identities
  '/api/v1/environments/{environment_api_key}/edge-identities/{edge_identity_identity_uuid}/edge-featurestates/clone-from-given-identity/':
    post:
      operationId: api_v1_environments_edge_identities_edge_featurestates_clone_from_given_identity_create
      description: Clone feature states from a given source identity.
      parameters:
        - name: edge_identity_identity_uuid
          in: path
          required: true
          schema:
            type: string
        - name: environment_api_key
          in: path
          required: true
          schema:
            type: string
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/EdgeIdentitySourceIdentityRequest'
          application/x-www-form-urlencoded:
            schema:
              $ref: '#/components/schemas/EdgeIdentitySourceIdentityRequest'
          multipart/form-data:
            schema:
              $ref: '#/components/schemas/EdgeIdentitySourceIdentityRequest'
      responses:
        '200':
          description: ''
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/IdentityAllFeatureStates'
      security:
        - tokenAuth: []
        - Master API Key: []
      tags:
        - Identities
  '/api/v1/environments/{environment_api_key}/edge-identities/{identity_uuid}/':
    get:
      operationId: api_v1_environments_edge_identities_retrieve
      parameters:
        - name: environment_api_key
          in: path
          required: true
          schema:
            type: string
        - name: identity_uuid
          in: path
          required: true
          schema:
            type: string
      responses:
        '200':
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/EdgeIdentity'
      security:
        - tokenAuth: []
        - Master API Key: []
      tags:
        - Identities
    put:
      operationId: api_v1_environments_edge_identities_update
      parameters:
        - name: environment_api_key
          in: path
          required: true
          schema:
            type: string
        - name: identity_uuid
          in: path
          required: true
          schema:
            type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/EdgeIdentityUpdate'
          application/x-www-form-urlencoded:
            schema:
              $ref: '#/components/schemas/EdgeIdentityUpdate'
          multipart/form-data:
            schema:
              $ref: '#/components/schemas/EdgeIdentityUpdate'
      responses:
        '200':
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/EdgeIdentityUpdate'
      security:
        - tokenAuth: []
        - Master API Key: []
      tags:
        - Identities
    patch:
      operationId: api_v1_environments_edge_identities_partial_update
      parameters:
        - name: environment_api_key
          in: path
          required: true
          schema:
            type: string
        - name: identity_uuid
          in: path
          required: true
          schema:
            type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/PatchedEdgeIdentityUpdate'
          application/x-www-form-urlencoded:
            schema:
              $ref: '#/components/schemas/PatchedEdgeIdentityUpdate'
          multipart/form-data:
            schema:
              $ref: '#/components/schemas/PatchedEdgeIdentityUpdate'
      responses:
        '200':
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/EdgeIdentityUpdate'
      security:
        - tokenAuth: []
        - Master API Key: []
      tags:
        - Identities
    delete:
      operationId: api_v1_environments_edge_identities_destroy
      parameters:
        - name: environment_api_key
          in: path
          required: true
          schema:
            type: string
        - name: identity_uuid
          in: path
          required: true
          schema:
            type: string
      responses:
        '204':
          description: No response body
      security:
        - tokenAuth: []
        - Master API Key: []
      tags:
        - Identities
  '/api/v1/environments/{environment_api_key}/edge-identities/{identity_uuid}/list-traits/':
    get:
      operationId: api_v1_environments_edge_identities_list_traits_list
      parameters:
        - name: environment_api_key
          in: path
          required: true
          schema:
            type: string
        - name: identity_uuid
          in: path
          required: true
          schema:
            type: string
        - name: last_evaluated_key
          in: query
          description: Used as the starting point for the page
          required: false
          schema:
            type: string
        - name: page_size
          in: query
          description: Number of results to return per page.
          required: false
          schema:
            type: integer
      responses:
        '200':
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PaginatedEdgeIdentityTraitsList'
      security:
        - tokenAuth: []
        - Master API Key: []
      tags:
        - Identities
  '/api/v1/environments/{environment_api_key}/edge-identities/{identity_uuid}/update-traits/':
    put:
      operationId: api_v1_environments_edge_identities_update_traits_update
      parameters:
        - name: environment_api_key
          in: path
          required: true
          schema:
            type: string
        - name: identity_uuid
          in: path
          required: true
          schema:
            type: string
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/EdgeIdentityTraits'
          application/x-www-form-urlencoded:
            schema:
              $ref: '#/components/schemas/EdgeIdentityTraits'
          multipart/form-data:
            schema:
              $ref: '#/components/schemas/EdgeIdentityTraits'
      responses:
        '200':
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/EdgeIdentityTraits'
      security:
        - tokenAuth: []
        - Master API Key: []
      tags:
        - Identities
  '/api/v1/environments/{environment_api_key}/edge-identity-overrides':
    get:
      operationId: api_v1_environments_edge_identity_overrides_retrieve
      parameters:
        - name: environment_api_key
          in: path
          required: true
          schema:
            type: string
        - name: feature
          in: query
          schema:
            type: integer
      responses:
        '200':
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GetEdgeIdentityOverrides'
      security:
        - tokenAuth: []
        - Master API Key: []
      tags:
        - Environments
  '/api/v1/environments/{environment_api_key}/experiment-metrics/':
    get:
      operationId: list_metrics
      description: (Beta) Lists experiment metrics for an environment. Supports search by name via the q parameter.
      parameters:
        - name: environment_api_key
          in: path
          required: true
          schema:
            type: string
        - name: page
          in: query
          description: A page number within the paginated result set.
          required: false
          schema:
            type: integer
        - name: page_size
          in: query
          description: Number of results to return per page.
          required: false
          schema:
            type: integer
        - name: q
          in: query
          description: Search metrics by name.
          schema:
            type: string
      responses:
        '200':
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PaginatedMetricList'
      security:
        - tokenAuth: []
        - Master API Key: []
      tags:
        - mcp
    post:
      operationId: create_metric
      description: '(Beta) Creates a metric with name, description, aggregation type, expected direction, and event definition.'
      parameters:
        - name: environment_api_key
          in: path
          required: true
          schema:
            type: string
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Metric'
          application/x-www-form-urlencoded:
            schema:
              $ref: '#/components/schemas/Metric'
          multipart/form-data:
            schema:
              $ref: '#/components/schemas/Metric'
      responses:
        '201':
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Metric'
      security:
        - tokenAuth: []
        - Master API Key: []
      tags:
        - mcp
  '/api/v1/environments/{environment_api_key}/experiment-metrics/{id}/':
    get:
      operationId: get_metric
      description: '(Beta) Retrieves details of a specific metric, including which experiments use it.'
      parameters:
        - name: environment_api_key
          in: path
          required: true
          schema:
            type: string
        - name: id
          in: path
          description: A unique integer value identifying this metric.
          required: true
          schema:
            type: integer
      responses:
        '200':
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Metric'
      security:
        - tokenAuth: []
        - Master API Key: []
      tags:
        - mcp
    put:
      operationId: update_metric
      description: (Beta) Updates a metric's properties.
      parameters:
        - name: environment_api_key
          in: path
          required: true
          schema:
            type: string
        - name: id
          in: path
          description: A unique integer value identifying this metric.
          required: true
          schema:
            type: integer
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Metric'
          application/x-www-form-urlencoded:
            schema:
              $ref: '#/components/schemas/Metric'
          multipart/form-data:
            schema:
              $ref: '#/components/schemas/Metric'
      responses:
        '200':
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Metric'
      security:
        - tokenAuth: []
        - Master API Key: []
      tags:
        - mcp
    patch:
      operationId: api_v1_environments_experiment_metrics_partial_update
      description: Manage experiment metrics for an environment.
      parameters:
        - name: environment_api_key
          in: path
          required: true
          schema:
            type: string
        - name: id
          in: path
          description: A unique integer value identifying this metric.
          required: true
          schema:
            type: integer
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/PatchedMetric'
          application/x-www-form-urlencoded:
            schema:
              $ref: '#/components/schemas/PatchedMetric'
          multipart/form-data:
            schema:
              $ref: '#/components/schemas/PatchedMetric'
      responses:
        '200':
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Metric'
      security:
        - tokenAuth: []
        - Master API Key: []
      tags:
        - Environments
    delete:
      operationId: api_v1_environments_experiment_metrics_destroy
      description: Manage experiment metrics for an environment.
      parameters:
        - name: environment_api_key
          in: path
          required: true
          schema:
            type: string
        - name: id
          in: path
          description: A unique integer value identifying this metric.
          required: true
          schema:
            type: integer
      responses:
        '204':
          description: No response body
      security:
        - tokenAuth: []
        - Master API Key: []
      tags:
        - Environments
  '/api/v1/environments/{environment_api_key}/experiments/':
    get:
      operationId: list_experiments
      description: (Beta) Lists experiments for an environment. Supports filtering by status and searching by experiment or feature name.
      parameters:
        - name: environment_api_key
          in: path
          required: true
          schema:
            type: string
        - name: page
          in: query
          description: A page number within the paginated result set.
          required: false
          schema:
            type: integer
        - name: page_size
          in: query
          description: Number of results to return per page.
          required: false
          schema:
            type: integer
        - name: q
          in: query
          description: Search by experiment or feature name.
          schema:
            type: string
        - name: status
          in: query
          description: 'Filter by experiment status (DRAFT, RUNNING, PAUSED, COMPLETED).'
          schema:
            type: string
      responses:
        '200':
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PaginatedExperimentListList'
      security:
        - tokenAuth: []
        - Master API Key: []
      tags:
        - mcp
    post:
      operationId: create_experiment
      description: (Beta) Creates an experiment for a multivariate feature. Metrics can be attached inline. Only one active experiment per feature is allowed.
      parameters:
        - name: environment_api_key
          in: path
          required: true
          schema:
            type: string
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Experiment'
          application/x-www-form-urlencoded:
            schema:
              $ref: '#/components/schemas/Experiment'
          multipart/form-data:
            schema:
              $ref: '#/components/schemas/Experiment'
      responses:
        '201':
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Experiment'
      security:
        - tokenAuth: []
        - Master API Key: []
      tags:
        - mcp
  '/api/v1/environments/{environment_api_key}/experiments/{experiment_experiment_id}/metrics/':
    get:
      operationId: api_v1_environments_experiments_metrics_list
      description: Manage metrics for an experiment.
      parameters:
        - name: environment_api_key
          in: path
          required: true
          schema:
            type: string
        - name: experiment_experiment_id
          in: path
          required: true
          schema:
            type: string
      responses:
        '200':
          description: ''
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/ExperimentMetric'
      security:
        - tokenAuth: []
        - Master API Key: []
      tags:
        - Environments
    post:
      operationId: api_v1_environments_experiments_metrics_create
      description: Manage metrics for an experiment.
      parameters:
        - name: environment_api_key
          in: path
          required: true
          schema:
            type: string
        - name: experiment_experiment_id
          in: path
          required: true
          schema:
            type: string
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ExperimentMetric'
          application/x-www-form-urlencoded:
            schema:
              $ref: '#/components/schemas/ExperimentMetric'
          multipart/form-data:
            schema:
              $ref: '#/components/schemas/ExperimentMetric'
      responses:
        '201':
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ExperimentMetric'
      security:
        - tokenAuth: []
        - Master API Key: []
      tags:
        - Environments
  '/api/v1/environments/{environment_api_key}/experiments/{experiment_experiment_id}/metrics/{id}/':
    get:
      operationId: api_v1_environments_experiments_metrics_retrieve
      description: Manage metrics for an experiment.
      parameters:
        - name: environment_api_key
          in: path
          required: true
          schema:
            type: string
        - name: experiment_experiment_id
          in: path
          required: true
          schema:
            type: string
        - name: id
          in: path
          required: true
          schema:
            type: string
      responses:
        '200':
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ExperimentMetric'
      security:
        - tokenAuth: []
        - Master API Key: []
      tags:
        - Environments
    put:
      operationId: api_v1_environments_experiments_metrics_update
      description: Manage metrics for an experiment.
      parameters:
        - name: environment_api_key
          in: path
          required: true
          schema:
            type: string
        - name: experiment_experiment_id
          in: path
          required: true
          schema:
            type: string
        - name: id
          in: path
          required: true
          schema:
            type: string
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ExperimentMetric'
          application/x-www-form-urlencoded:
            schema:
              $ref: '#/components/schemas/ExperimentMetric'
          multipart/form-data:
            schema:
              $ref: '#/components/schemas/ExperimentMetric'
      responses:
        '200':
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ExperimentMetric'
      security:
        - tokenAuth: []
        - Master API Key: []
      tags:
        - Environments
    patch:
      operationId: api_v1_environments_experiments_metrics_partial_update
      description: Manage metrics for an experiment.
      parameters:
        - name: environment_api_key
          in: path
          required: true
          schema:
            type: string
        - name: experiment_experiment_id
          in: path
          required: true
          schema:
            type: string
        - name: id
          in: path
          required: true
          schema:
            type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/PatchedExperimentMetric'
          application/x-www-form-urlencoded:
            schema:
              $ref: '#/components/schemas/PatchedExperimentMetric'
          multipart/form-data:
            schema:
              $ref: '#/components/schemas/PatchedExperimentMetric'
      responses:
        '200':
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ExperimentMetric'
      security:
        - tokenAuth: []
        - Master API Key: []
      tags:
        - Environments
    delete:
      operationId: api_v1_environments_experiments_metrics_destroy
      description: Manage metrics for an experiment.
      parameters:
        - name: environment_api_key
          in: path
          required: true
          schema:
            type: string
        - name: experiment_experiment_id
          in: path
          required: true
          schema:
            type: string
        - name: id
          in: path
          required: true
          schema:
            type: string
      responses:
        '204':
          description: No response body
      security:
        - tokenAuth: []
        - Master API Key: []
      tags:
        - Environments
  '/api/v1/environments/{environment_api_key}/experiments/{experiment_id}/':
    get:
      operationId: get_experiment
      description: '(Beta) Retrieves experiment details including feature configuration, attached metrics, and rollout state.'
      parameters:
        - name: environment_api_key
          in: path
          required: true
          schema:
            type: string
        - name: experiment_id
          in: path
          description: A unique integer value identifying this experiment.
          required: true
          schema:
            type: integer
      responses:
        '200':
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ExperimentDetail'
      security:
        - tokenAuth: []
        - Master API Key: []
      tags:
        - mcp
    put:
      operationId: update_experiment
      description: (Beta) Updates an experiment's name or hypothesis.
      parameters:
        - name: environment_api_key
          in: path
          required: true
          schema:
            type: string
        - name: experiment_id
          in: path
          description: A unique integer value identifying this experiment.
          required: true
          schema:
            type: integer
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Experiment'
          application/x-www-form-urlencoded:
            schema:
              $ref: '#/components/schemas/Experiment'
          multipart/form-data:
            schema:
              $ref: '#/components/schemas/Experiment'
      responses:
        '200':
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Experiment'
      security:
        - tokenAuth: []
        - Master API Key: []
      tags:
        - mcp
    patch:
      operationId: api_v1_environments_experiments_partial_update
      description: Manage experiments for an environment.
      parameters:
        - name: environment_api_key
          in: path
          required: true
          schema:
            type: string
        - name: experiment_id
          in: path
          description: A unique integer value identifying this experiment.
          required: true
          schema:
            type: integer
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/PatchedExperiment'
          application/x-www-form-urlencoded:
            schema:
              $ref: '#/components/schemas/PatchedExperiment'
          multipart/form-data:
            schema:
              $ref: '#/components/schemas/PatchedExperiment'
      responses:
        '200':
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Experiment'
      security:
        - tokenAuth: []
        - Master API Key: []
      tags:
        - Environments
    delete:
      operationId: api_v1_environments_experiments_destroy
      description: Manage experiments for an environment.
      parameters:
        - name: environment_api_key
          in: path
          required: true
          schema:
            type: string
        - name: experiment_id
          in: path
          description: A unique integer value identifying this experiment.
          required: true
          schema:
            type: integer
      responses:
        '204':
          description: No response body
      security:
        - tokenAuth: []
        - Master API Key: []
      tags:
        - Environments
  '/api/v1/environments/{environment_api_key}/experiments/{experiment_id}/complete/':
    post:
      operationId: api_v1_environments_experiments_complete_create
      description: Manage experiments for an environment.
      parameters:
        - name: environment_api_key
          in: path
          required: true
          schema:
            type: string
        - name: experiment_id
          in: path
          description: A unique integer value identifying this experiment.
          required: true
          schema:
            type: integer
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ExperimentList'
          application/x-www-form-urlencoded:
            schema:
              $ref: '#/components/schemas/ExperimentList'
          multipart/form-data:
            schema:
              $ref: '#/components/schemas/ExperimentList'
      responses:
        '200':
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ExperimentList'
      security:
        - tokenAuth: []
        - Master API Key: []
      tags:
        - Environments
  '/api/v1/environments/{environment_api_key}/experiments/{experiment_id}/exposures/':
    get:
      operationId: get_experiment_exposures
      description: (Beta) Retrieves variant exposure counts for an experiment. Returns null if not yet computed.
      parameters:
        - name: environment_api_key
          in: path
          required: true
          schema:
            type: string
        - name: experiment_id
          in: path
          description: A unique integer value identifying this experiment.
          required: true
          schema:
            type: integer
      responses:
        '200':
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Experiment'
      security:
        - tokenAuth: []
        - Master API Key: []
      tags:
        - mcp
  '/api/v1/environments/{environment_api_key}/experiments/{experiment_id}/exposures/refresh/':
    post:
      operationId: api_v1_environments_experiments_exposures_refresh_create
      description: Manage experiments for an environment.
      parameters:
        - name: environment_api_key
          in: path
          required: true
          schema:
            type: string
        - name: experiment_id
          in: path
          description: A unique integer value identifying this experiment.
          required: true
          schema:
            type: integer
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Experiment'
          application/x-www-form-urlencoded:
            schema:
              $ref: '#/components/schemas/Experiment'
          multipart/form-data:
            schema:
              $ref: '#/components/schemas/Experiment'
      responses:
        '200':
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Experiment'
      security:
        - tokenAuth: []
        - Master API Key: []
      tags:
        - Environments
  '/api/v1/environments/{environment_api_key}/experiments/{experiment_id}/pause/':
    post:
      operationId: api_v1_environments_experiments_pause_create
      description: Manage experiments for an environment.
      parameters:
        - name: environment_api_key
          in: path
          required: true
          schema:
            type: string
        - name: experiment_id
          in: path
          description: A unique integer value identifying this experiment.
          required: true
          schema:
            type: integer
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ExperimentList'
          application/x-www-form-urlencoded:
            schema:
              $ref: '#/components/schemas/ExperimentList'
          multipart/form-data:
            schema:
              $ref: '#/components/schemas/ExperimentList'
      responses:
        '200':
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ExperimentList'
      security:
        - tokenAuth: []
        - Master API Key: []
      tags:
        - Environments
  '/api/v1/environments/{environment_api_key}/experiments/{experiment_id}/results/':
    get:
      operationId: get_experiment_results
      description: (Beta) Retrieves statistical results for an experiment's metrics. Returns null if not yet computed.
      parameters:
        - name: environment_api_key
          in: path
          required: true
          schema:
            type: string
        - name: experiment_id
          in: path
          description: A unique integer value identifying this experiment.
          required: true
          schema:
            type: integer
      responses:
        '200':
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Experiment'
      security:
        - tokenAuth: []
        - Master API Key: []
      tags:
        - mcp
  '/api/v1/environments/{environment_api_key}/experiments/{experiment_id}/results/refresh/':
    post:
      operationId: api_v1_environments_experiments_results_refresh_create
      description: Manage experiments for an environment.
      parameters:
        - name: environment_api_key
          in: path
          required: true
          schema:
            type: string
        - name: experiment_id
          in: path
          description: A unique integer value identifying this experiment.
          required: true
          schema:
            type: integer
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Experiment'
          application/x-www-form-urlencoded:
            schema:
              $ref: '#/components/schemas/Experiment'
          multipart/form-data:
            schema:
              $ref: '#/components/schemas/Experiment'
      responses:
        '200':
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Experiment'
      security:
        - tokenAuth: []
        - Master API Key: []
      tags:
        - Environments
  '/api/v1/environments/{environment_api_key}/experiments/{experiment_id}/rollout/':
    patch:
      operationId: api_v1_environments_experiments_rollout_partial_update
      description: Manage experiments for an environment.
      parameters:
        - name: environment_api_key
          in: path
          required: true
          schema:
            type: string
        - name: experiment_id
          in: path
          description: A unique integer value identifying this experiment.
          required: true
          schema:
            type: integer
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/PatchedExperimentList'
          application/x-www-form-urlencoded:
            schema:
              $ref: '#/components/schemas/PatchedExperimentList'
          multipart/form-data:
            schema:
              $ref: '#/components/schemas/PatchedExperimentList'
      responses:
        '200':
          description: ''
[...]
