[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[scripts]
runserver = "python src/manage.py runserver"
makemigrations = "python src/manage.py makemigrations"
migrate = "python src/manage.py migrate"
test = "pytest src -p no:warnings"
shell = "src/manage.py shell"

[dev-packages]
pylint = "*"
"pep8" = "*"
"autopep8" = "*"
pytest = "*"
pytest-django = "*"
django-test-migrations = "*"

[packages]
appdirs = "*"
django-cors-headers = "*"
djangorestframework = "*"
gunicorn = "*"
pyparsing = "*"
requests = "*"
six = "*"
whitenoise = "<4.0"
dj-database-url = "*"
drf-nested-routers = "*"
shortuuid = "*"
sendgrid-django = "*"
psycopg2-binary = "*"
coreapi = "*"
Django = "<3.0"
django-simple-history = "*"
django-debug-toolbar = "*"
google-api-python-client = "*"
"oauth2client" = "*"
djangorestframework-recursive = "*"
drf-yasg = "*"
packaging = "*"
chargebee = "*"
python-http-client = "<3.2.0" # 3.2.0 is the latest but throws an error on installation saying that it's not found
django-health-check = "*"
django-storages = "*"
django-environ = "*"
django-trench = "*"
djoser = "*"
influxdb-client = "*"
django-ordered-model = "*"
django-ses = "*"
