[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[dev-packages]
tox = "*"
coverage = "*"
tblib = "*"

[packages]
appdirs = "*"
django-cors-headers = "*"
djangorestframework = "*"
gunicorn = "*"
pyparsing = "*"
requests = "*"
six = "*"
whitenoise = "*"
dj-database-url = "*"
drf-nested-routers = "*"
shortuuid = "*"
django-rest-auth = "*"
django-allauth = "*"
sendgrid-django = "*"
psycopg2-binary = "*"
coreapi = "*"
django-rest-swagger = "*"
Django = "<2.0"
numpy = "*"
