[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[dev-packages]
pylint = "<2.0.0"
"pep8" = "*"
"autopep8" = "*"

[packages]
appdirs = "*"
django-cors-headers = "*"
djangorestframework = "*"
gunicorn = "*"
pyparsing = "*"
requests = "*"
six = "*"
whitenoise = "<4.0"
dj-database-url = "*"
drf-nested-routers = "*"
shortuuid = "*"
django-rest-auth = "*"
django-allauth = "*"
sendgrid-django = "*"
psycopg2-binary = "*"
coreapi = "*"
django-rest-swagger = "*"
Django = "<2.0"
numpy = "*"
django-simple-history = "*"
twisted = {version = "*",extras = ["tls"]}
django-debug-toolbar = "*"
