.actionables {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: flex-start;
    height: 100%;
    margin-right: 0.5rem;
    width: 20px;
    transition: width 0.6s cubic-bezier(0.5, 0, 0.2, 1);

    .list {
        display: none;
    }

    .showActions {
        display: flex;
        flex-direction: row;
        flex-wrap: nowrap;
        align-items:center;
        justify-content: flex-start;
        height: calc(100% + 8px);
        gap: 8px;
        padding-left: 8px;
        padding-right: 8px;
        cursor: default;
        background-color: $bg-light300;
        border-radius: $border-radius-default;

    }

    .showActions * {
        display: block;
        // height: inherit;
        margin: 0 !important;
    }

    .hideIcon {
        display: none;
    }
}

.dark .actionables {

    .showActions{
        background-color: $bg-dark200;
        border-radius: $border-radius-default;

    }
}