@import "../variables";
.dark {
	.chip {
		background-color: $dark-bg-10;
		.chip-icon {
			color: $input-placeholder-color-dark;
		}
	}
}
.chip {
	align-self: flex-start !important;
	background-color: #e0e0e0;
	padding: 7px 10px;
	border-radius: $border-radius;
	margin-right: $input-padding-x;
	font-size: 12px;
	font-weight: bold;
	color: #777;
	.chip-icon {
		font-size: 2em;
		cursor: pointer;
		margin-left: $input-padding-x;
		width: 18px;
		height: 18px;
		display: flex;
		justify-content: center;
		align-items: center;
		border-radius: 50%;
		color: $input-placeholder-color;
		background: rgba(0,0,0,.2);
	}
	&--active {
		color: white;
		background: $bt-brand-primary;
		.chip-icon {
			color: white;
			background: rgba(0,0,0,.2);
		}
	}
	&.light {
		color: white;
	}
	&--sm {
		display: flex;
		justify-content: center;
		align-items: center;
		border-radius: $border-radius;
		font-size: 11px;
		padding: 3px 8px;
		margin-right: 5px;
		.chip-svg-icon {
			display: block;
			width: 12px;
			margin-right: 5px;
		}
	}
}
