  .circle-container {
      background-color: var(--color-surface-default);
      border: 4px solid;
      border-color: var(--color-border-default);
      border-radius: 50%;
      height: 40px;
      width: 40px;
      z-index: 10;


      display: flex;
      align-items: center;
      justify-content: center;

      &.in-stage {
        border-color: var(--color-border-action);
        color: var(--color-icon-action);
      }

      &.completed {
        border-color: var(--color-border-success);
        color: var(--color-icon-success);
      }

  }

  .circle-container-z-index {
    z-index: 2;
  }

  .line-left {
    background-color: var(--color-border-default);
    border: unset;
    height: 3px;
    left: 0%;
    top: 18px;
    width: 50%;
    z-index: 1;

    &.completed {
      background-color: var(--color-border-success);
    }
  }
  .line-right {
    background-color: var(--color-border-default);
    border: unset;
    height: 3px;
    left: 50%;
    top: 18px;
    width: calc(50% + 24px);
    z-index: 1;

    &.completed {
      background-color: var(--color-border-success);
    }
  }
