@import '../variables';
.accordion-card {
  background-color: transparent;
  border: 1px solid rgba(101, 109, 123, 0.16);
  border-radius: 8px;
}

.metric-label {
  font-size: 14px;
  font-weight: 500;
  margin-bottom: 6px;
}

.metric-value {
  font-size: 16px;
  font-weight: 500;
  margin: 0;
}
