@import '../variables';
@import '../flexbox/mixins';

.open-source-card {
  &:hover,
  :focus {
    text-decoration: none !important;
  }
}
.flat-panel {
  .panel {
    box-shadow: none;
    border: none;
    .panel-heading {
      background-color: transparent;
      .panel-icon {
        display: none;
      }
    }
  }
}

.panel {
  &.no-pad {
    padding: 0 !important;
    .panel-content {
      padding: 0 !important;
    }
  }
  .no-results {
    text-align: center;
    line-height: 44px;
  }
  .panel-heading {
    h1,
    h2,
    h3,
    h4,
    h5,
    h6 {
      color: $text-icon-dark;
      margin: 0;
    }

    font-weight: 500;
    font-size: $font-size-base;
    flex: 1 1 0%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    text-transform: capitalize;
    height: 56px;

    .title {
      color: $text-icon-dark;
      font-family: $font-family-header;
      .subtitle {
        color: $text-icon-dark;
        font-weight: normal;
        text-transform: none;
      }
    }
  }

  .panel-content {
    background-color: $panel-bg;
    padding: $input-padding-y $input-padding-x;
  }

  &.segment-overrides {
    border: 1px solid $basic-alpha-16;
    border-radius: $border-radius-lg;
  }

  &.no-pad {
    .panel-content {
      padding: 0;
    }
  }
}

.dark {
  .panel {
    .icon {
      color: $dark-color;
    }
    .panel-content {
      background-color: transparent;
      .chip {
        background-color: $panel-bg-darker;
      }
    }
    .panel-heading {
      h1,
      h2,
      h3,
      h4,
      h5 {
        color: $panel-heading-color-dark;
        margin: 0;
      }
      .title {
        color: $header-color-dark;
        .subtitle {
          color: white;
        }
      }
      color: $header-color-dark;
      .ion-ios-information-circle {
        color: $panel-icon-background-color;
      }
    }
    border: none;
    color: $panel-heading-color-dark;
    a {
      color: $dark-highlight-color;
      &:hover {
        color: $dark-highlight-color !important;
        &.text-white {
          color: white !important;
        }
      }
    }
    .list-item:hover a {
      color: $dark-highlight-color !important;
    }
    .panel-icon {
      background-color: $panel-icon-background-color-dark;
      border-color: $panel-icon-background-color-dark;
      .icon {
        color: $panel-icon-color-dark;
      }
    }

    &.panel-integrations {
      .list-integrations {
        background-color: $bg-dark200;
      }
    }
  }
}

a.text-white {
  &:hover {
    color: white !important;
  }
}

.panel {
  &.panel-integrations {
    border-radius: $panel-border-radius;
    border: 1px solid $panel-border-color;

    img {
      width: fit-content;
      height: 30px;
    }
    .list-integrations {
      border-radius: $border-radius-xlg;
      background-color: $bg-light200;
      font-size: $font-sm;
      line-height: $line-height-sm;
    }
  }
  .panel-content {
    .search-list {
      border: 1px solid $panel-border-color;
      border-radius: $panel-border-radius;
      .list-item {
        border-top: 1px solid $panel-border-color;
        &:first-child {
          border-top: none;
        }
      }
    }
  }
  &.panel-override {
    .panel-content {
      .search-list {
        border: none;
        .list-item-override {
          border: 1px solid $basic-alpha-16;
          border-radius: $border-radius-lg;
        }
      }
    }
  }
}
