@import '../variables';

@keyframes toast-in {
  from {
    transform: translateY(100%);
    opacity: 0;
  }

  to {
    transform: translateY(0);
    opacity: 1;
  }
}

@keyframes toast-out {
  from {
    transform: translateY(0);
    opacity: 1;
  }

  to {
    transform: translateY(100%);
    opacity: 0;
  }
}

#toast {
  display: inline-block;
  position: fixed;
  bottom: 20px;
  left: 50%;
  transform: translateX(-50%);
  z-index: 1000000000;

  a,
  button {
    box-shadow: none;
  }

  a {
    color: $text-icon-grey;
  }

  button {
    box-shadow: none;
    line-height: 16px;
    color: $primary800;
    height: 'auto';
    margin-right: 0.2rem;
  }
}

.toast-message {
  width: 250px;
  min-height: 50px;
  background: $success-solid-alert;
  font-weight: 500;
  border: 1px solid $success;
  animation: toast-in 0.3s ease-out;

  &.show {
    display: flex !important;
  }

  &.removing-out {
    animation: toast-out 0.3s ease-out forwards;
  }

  &.large {
    width: 520px !important;
  }

  @media screen and (min-width: 768px) {
    width: 320px;
  }
}