/**
 * Any CSS included here will be global. The classic template
 * bundles Infima by default. Infima is a CSS framework designed to
 * work well for content-centric websites.
 */


/* To hide navbar items we don't want to show */
.hidden {
    display: none !important;
}
.button--sm {
  font-size: 0.95rem; /* Increase from 0.75-0.85rem to improve readability */
  padding: 0.6rem 1.2rem; /* More breathing room */
  border-radius: 0.5rem; /* More rounded corners */
  line-height: 1.4;
}
.cardFooter {
  display: flex;
  align-items: center;  /* Vertically centers content */
  justify-content: center; /* Horizontally centers (optional) */
  height: 100%;  /* Ensures it uses full height if needed */
  padding: 1rem 0; /* Adds breathing space */
}

@font-face {
    font-family: 'Open Sans Regular';
    src: url('/static/fonts/open-sans-regular.woff') format('woff');
    src: url('/static/fonts/open-sans-regular.woff2') format('woff2');
}

 /* You can override the default Infima variables here. */
:root {
  --ifm-color-primary: #2e8555;
  --ifm-color-primary-dark: #29784c;
  --ifm-color-primary-darker: #277148;
  --ifm-color-primary-darkest: #205d3b;
  --ifm-color-primary-light: #33925d;
  --ifm-color-primary-lighter: #359962;
  --ifm-color-primary-lightest: #3cad6e;
  --ifm-code-font-size: 95%;
  --docusaurus-highlighted-code-line-bg: rgba(0, 0, 0, 0.1);
  --ifm-font-family-base: 'Open Sans Regular';
  --ifm-font-size-base: 92%;
}

/* For readability concerns, you should choose a lighter palette in dark mode. */
[data-theme='dark'] {
  --ifm-color-primary: #25c2a0;
  --ifm-color-primary-dark: #21af90;
  --ifm-color-primary-darker: #1fa588;
  --ifm-color-primary-darkest: #1a8870;
  --ifm-color-primary-light: #29d5b0;
  --ifm-color-primary-lighter: #32d8b4;
  --ifm-color-primary-lightest: #4fddbf;
  --docusaurus-highlighted-code-line-bg: rgba(0, 0, 0, 0.3);
}

/* Sidebar Method labels */
.api-method>.menu__link {
  align-items: center;
  justify-content: start;
}

.api-method>.menu__link::before {
  width: 50px;
  height: 20px;
  font-size: 12px;
  line-height: 20px;
  text-transform: uppercase;
  font-weight: 600;
  border-radius: 0.25rem;
  border: 1px solid;
  margin-right: var(--ifm-spacing-horizontal);
  text-align: center;
  flex-shrink: 0;
  border-color: transparent;
  color: white;
}

.get>.menu__link::before {
  content: "get";
  background-color: var(--ifm-color-primary);
}

.put>.menu__link::before {
  content: "put";
  background-color: var(--openapi-code-blue);
}

.post>.menu__link::before {
  content: "post";
  background-color: var(--openapi-code-green);
}

.delete>.menu__link::before {
  content: "del";
  background-color: var(--openapi-code-red);
}

.patch>.menu__link::before {
  content: "patch";
  background-color: var(--openapi-code-orange);
}
