.react-select{
  input[type="text"] {
    border: none !important;
  }
  &__control {
    height: $input-height !important;
    border-radius: $border-radius-default !important;
  }
  &__value-container {
    padding: 0px 8px;
  }
}
.dark {
  .react-select {
    &__control {
      background: $input-bg-dark;
      border: none;
    }
    &__single-value {
      color: $input-color-dark;
    }
    &__indicator-separator {
      display: none;
    }
    &__menu {
      background: $input-bg-dark;
      color: $input-color-dark;
    }
    &__option {
      background: $dark-bg-0;
      &:hover {
        background: darken($dark-bg-0,2);
      }
    }
  }
}
