files:
  "/etc/cron.d/alertorgsoverplanlimit":
    mode: "000644"
    owner: root
    group: root
    content: >
      0 * * * * ec2-user source /opt/python/run/venv/bin/activate && cd /opt/python/current/app/ &&
      source /opt/python/current/env && python manage.py check_if_organisations_over_plan_limit
