container_commands:
  01_migrate:
    command: "django-admin.py migrate"
    leader_only: true
  02_collectstatic:
    command: "source /opt/python/run/venv/bin/activate && python manage.py collectstatic --noinput"
    leader_only: true
  03_wsgipass:
    command: 'echo "WSGIPassAuthorization On" >> ../wsgi.conf'