{% load i18n %}

{% block subject %}
{% blocktrans %}Bullet Train Account activation{% endblocktrans %}
{% endblock subject %}

{% block text_body %}
{% blocktrans %}You're receiving this email because you need to finish activation process on Bullet Train.{% endblocktrans %}

{% trans "Please go to the following page to activate account:" %}
{{ protocol }}://{{ domain }}/{{ url|safe }}

{% trans "Thanks for using Bullet Train!" %}

{% blocktrans %}The Bullet Train team{% endblocktrans %}
{% endblock text_body %}

{% block html_body %}
<p>{% blocktrans %}You're receiving this email because you need to finish activation process on Bullet Train.{% endblocktrans %}</p>

<p>{% trans "Please go to the following page to activate account:" %}</p>
<p><a href="{{ protocol }}://{{ domain }}/{{ url|safe }}">Activate Bullet Train account</a></p>

<p>{% trans "Thanks for using Bullet Train!" %}</p>

<p>{% blocktrans %}The Bullet Train team{% endblocktrans %}</p>

{% endblock html_body %}
