.app-container {
    padding: 20px;
  }
  
  .charts-container {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
  }
  
  .chart-container {
    width: 50%;
    min-width: 300px;
    margin: 20px 0;
  }
  