# See https://docs.flagsmith.com/deployment/docker for more information on running Flagsmith in Docker
# This will docker-compose file will run the entire Flagsmith Platform in Docker
# Uncomment and configure InfluxDB lines below (not neccesary but adds some functionality that requires InfluxDB)

version: '3'
services:
    db:
        image: postgres:11.12-alpine
        environment:
            POSTGRES_PASSWORD: password
            POSTGRES_DB: flagsmith
        container_name: flagsmith_postgres

    api:
        image: flagsmith/flagsmith:latest
        environment:
            DJANGO_ALLOWED_HOSTS: '*' # Change this in production
            DATABASE_URL: postgresql://postgres:password@db:5432/flagsmith
            DISABLE_INFLUXDB_FEATURES: true # set to false to enable InfluxDB 

            # For more info on configuring InfluxDB - https://docs.flagsmith.com/deployment/overview#influxdb
            # INFLUXDB_URL: http://influxdb:8086
            # INFLUXDB_BUCKET: flagsmith_api
            # INFLUXDB_ORG: # Add your influx org id here
            # INFLUXDB_TOKEN: # Add your influx token here

            # For more info on configuring E-Mails - https://docs.flagsmith.com/deployment/locally-api#environment-variables
            #
            # Example SMTP:
            # EMAIL_BACKEND: django.core.mail.backends.smtp.EmailBackend
            # EMAIL_HOST: mail.example.com
            # SENDER_EMAIL: flagsmith@example.com
            # EMAIL_HOST_USER: flagsmith@example.com
            # EMAIL_HOST_PASSWORD: smtp_account_password
            # EMAIL_PORT: 587 # optional
            # EMAIL_USE_TLS: True # optional
            
            # ENABLE_ADMIN_ACCESS_USER_PASS: True # set to True to enable access to the /admin/ Django backend via your username and password
            # ALLOW_REGISTRATION_WITHOUT_INVITE: True # Determines whether users can register without an invite. Defaults to True. Set to False or 0 to disable. Note that if disabled, new users must be invited via email.
            
            
            # For more info on configuring flagsmith on flagsmith - https://docs.flagsmith.com/deployment/overview#running-flagsmith-on-flagsmith
            #
            # FLAGSMITH_ON_FLAGSMITH_API_URL: https://api.flagsmith.com/api/v1/flags/
            # FLAGSMITH_ON_FLAGSMITH_API_KEY: 4vfqhypYjcPoGGu8ByrBaj
            
            
            
        ports:
            - '8000:8000'
        depends_on:
            - db
        links:
            - db:db
            # - influxdb:influxdb

    # InfluxDB requires additional setup - please see https://docs.flagsmith.com/deployment-overview/#influxdb
    # Note that InfluxDB is optional, but enabling it will provide additional functionality to the Flagsmith platform
    # influxdb:
    #   image: quay.io/influxdb/influxdb:v2.0.3
    #   container_name: flagsmith_influxdb
    #   ports:
    #     - "8086:8086"
