{
  "openapi": "3.1.0",
  "info": {
    "title": "Flagsmith API",
    "version": "v1",
    "description": "Flagsmith's Core and SDK APIs. Check out <a href='https://docs.flagsmith.com'>Flagsmith documentation</a>.",
    "contact": {
      "email": "support@flagsmith.com"
    },
    "license": {
      "name": "BSD License",
      "identifier": "BSD-3-Clause"
    }
  },
  "servers": [
    {
      "url": "https://api.flagsmith.com",
      "description": "Flagsmith API"
    }
  ],
  "paths": {
    "/api/v1/environments/": {
      "get": {
        "operationId": "list_environments",
        "description": "Lists all environments the user has access to",
        "parameters": [
          {
            "name": "page",
            "in": "query",
            "description": "A page number within the paginated result set.",
            "required": false,
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "project",
            "in": "query",
            "description": "ID of the project to filter by.",
            "schema": {
              "type": "integer"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PaginatedEnvironmentSerializerWithMetadataList"
                }
              }
            }
          }
        },
        "security": [
          {
            "tokenAuth": []
          },
          {
            "Master API Key": []
          }
        ],
        "tags": [
          "mcp"
        ]
      }
    },
    "/api/v1/environments/{environment_api_key}/create-change-request/": {
      "post": {
        "operationId": "create_environment_feature_change_request",
        "description": "Creates a new change request for feature flag modifications in an environment.",
        "parameters": [
          {
            "name": "environment_api_key",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/ChangeRequestCreate"
              }
            },
            "application/x-www-form-urlencoded": {
              "schema": {
                "$ref": "#/components/schemas/ChangeRequestCreate"
              }
            },
            "multipart/form-data": {
              "schema": {
                "$ref": "#/components/schemas/ChangeRequestCreate"
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ChangeRequestCreate"
                }
              }
            }
          },
          "400": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/WorkflowsError"
                }
              }
            }
          }
        },
        "security": [
          {
            "tokenAuth": []
          },
          {
            "Master API Key": []
          }
        ],
        "tags": [
          "mcp"
        ]
      }
    },
    "/api/v1/environments/{environment_api_key}/experiment-metrics/": {
      "get": {
        "operationId": "list_metrics",
        "description": "(Beta) Lists experiment metrics for an environment. Supports search by name via the q parameter.",
        "parameters": [
          {
            "name": "environment_api_key",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "page",
            "in": "query",
            "description": "A page number within the paginated result set.",
            "required": false,
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "page_size",
            "in": "query",
            "description": "Number of results to return per page.",
            "required": false,
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "q",
            "in": "query",
            "description": "Search metrics by name.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PaginatedMetricList"
                }
              }
            }
          }
        },
        "security": [
          {
            "tokenAuth": []
          },
          {
            "Master API Key": []
          }
        ],
        "tags": [
          "mcp"
        ]
      },
      "post": {
        "operationId": "create_metric",
        "description": "(Beta) Creates a metric with name, description, aggregation type, expected direction, and event definition.",
        "parameters": [
          {
            "name": "environment_api_key",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/Metric"
              }
            },
            "application/x-www-form-urlencoded": {
              "schema": {
                "$ref": "#/components/schemas/Metric"
              }
            },
            "multipart/form-data": {
              "schema": {
                "$ref": "#/components/schemas/Metric"
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Metric"
                }
              }
            }
          }
        },
        "security": [
          {
            "tokenAuth": []
          },
          {
            "Master API Key": []
          }
        ],
        "tags": [
          "mcp"
        ]
      }
    },
    "/api/v1/environments/{environment_api_key}/experiment-metrics/{id}/": {
      "get": {
        "operationId": "get_metric",
        "description": "(Beta) Retrieves details of a specific metric, including which experiments use it.",
        "parameters": [
          {
            "name": "environment_api_key",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "id",
            "in": "path",
            "description": "A unique integer value identifying this metric.",
            "required": true,
            "schema": {
              "type": "integer"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Metric"
                }
              }
            }
          }
        },
        "security": [
          {
            "tokenAuth": []
          },
          {
            "Master API Key": []
          }
        ],
        "tags": [
          "mcp"
        ]
      },
      "put": {
        "operationId": "update_metric",
        "description": "(Beta) Updates a metric's properties.",
        "parameters": [
          {
            "name": "environment_api_key",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "id",
            "in": "path",
            "description": "A unique integer value identifying this metric.",
            "required": true,
            "schema": {
              "type": "integer"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/Metric"
              }
            },
            "application/x-www-form-urlencoded": {
              "schema": {
                "$ref": "#/components/schemas/Metric"
              }
            },
            "multipart/form-data": {
              "schema": {
                "$ref": "#/components/schemas/Metric"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Metric"
                }
              }
            }
          }
        },
        "security": [
          {
            "tokenAuth": []
          },
          {
            "Master API Key": []
          }
        ],
        "tags": [
          "mcp"
        ]
      }
    },
    "/api/v1/environments/{environment_api_key}/experiments/": {
      "get": {
        "operationId": "list_experiments",
        "description": "(Beta) Lists experiments for an environment. Supports filtering by status and searching by experiment or feature name.",
        "parameters": [
          {
            "name": "environment_api_key",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "page",
            "in": "query",
            "description": "A page number within the paginated result set.",
            "required": false,
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "page_size",
            "in": "query",
            "description": "Number of results to return per page.",
            "required": false,
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "q",
            "in": "query",
            "description": "Search by experiment or feature name.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "status",
            "in": "query",
            "description": "Filter by experiment status (DRAFT, RUNNING, PAUSED, COMPLETED).",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PaginatedExperimentListList"
                }
              }
            }
          }
        },
        "security": [
          {
            "tokenAuth": []
          },
          {
            "Master API Key": []
          }
        ],
        "tags": [
          "mcp"
        ]
      },
      "post": {
        "operationId": "create_experiment",
        "description": "(Beta) Creates an experiment for a multivariate feature. Metrics can be attached inline. Only one active experiment per feature is allowed.",
        "parameters": [
          {
            "name": "environment_api_key",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/Experiment"
              }
            },
            "application/x-www-form-urlencoded": {
              "schema": {
                "$ref": "#/components/schemas/Experiment"
              }
            },
            "multipart/form-data": {
              "schema": {
                "$ref": "#/components/schemas/Experiment"
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Experiment"
                }
              }
            }
          }
        },
        "security": [
          {
            "tokenAuth": []
          },
          {
            "Master API Key": []
          }
        ],
        "tags": [
          "mcp"
        ]
      }
    },
    "/api/v1/environments/{environment_api_key}/experiments/{experiment_id}/": {
      "get": {
        "operationId": "get_experiment",
        "description": "(Beta) Retrieves experiment details including feature configuration, attached metrics, and rollout state.",
        "parameters": [
          {
            "name": "environment_api_key",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "experiment_id",
            "in": "path",
            "description": "A unique integer value identifying this experiment.",
            "required": true,
            "schema": {
              "type": "integer"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ExperimentDetail"
                }
              }
            }
          }
        },
        "security": [
          {
            "tokenAuth": []
          },
          {
            "Master API Key": []
          }
        ],
        "tags": [
          "mcp"
        ]
      },
      "put": {
        "operationId": "update_experiment",
        "description": "(Beta) Updates an experiment's name or its hypothesis.",
        "parameters": [
          {
            "name": "environment_api_key",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "experiment_id",
            "in": "path",
            "description": "A unique integer value identifying this experiment.",
            "required": true,
            "schema": {
              "type": "integer"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/Experiment"
              }
            },
            "application/x-www-form-urlencoded": {
              "schema": {
                "$ref": "#/components/schemas/Experiment"
              }
            },
            "multipart/form-data": {
              "schema": {
                "$ref": "#/components/schemas/Experiment"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Experiment"
                }
              }
            }
          }
        },
        "security": [
          {
            "tokenAuth": []
          },
          {
            "Master API Key": []
          }
        ],
        "tags": [
          "mcp"
        ]
      }
    },
    "/api/v1/environments/{environment_api_key}/experiments/{experiment_id}/exposures/": {
      "get": {
        "operationId": "get_experiment_exposures",
        "description": "(Beta) Retrieves variant exposure counts for an experiment. Returns null if not yet computed.",
        "parameters": [
          {
            "name": "environment_api_key",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "experiment_id",
            "in": "path",
            "description": "A unique integer value identifying this experiment.",
            "required": true,
            "schema": {
              "type": "integer"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Experiment"
                }
              }
            }
          }
        },
        "security": [
          {
            "tokenAuth": []
          },
          {
            "Master API Key": []
          }
        ],
        "tags": [
          "mcp"
        ]
      }
    },
    "/api/v1/environments/{environment_api_key}/experiments/{experiment_id}/results/": {
      "get": {
        "operationId": "get_experiment_results",
        "description": "(Beta) Retrieves statistical results for an experiment's metrics. Returns null if not yet computed.",
        "parameters": [
          {
            "name": "environment_api_key",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "experiment_id",
            "in": "path",
            "description": "A unique integer value identifying this experiment.",
            "required": true,
            "schema": {
              "type": "integer"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Experiment"
                }
              }
            }
          }
        },
        "security": [
          {
            "tokenAuth": []
          },
          {
            "Master API Key": []
          }
        ],
        "tags": [
          "mcp"
        ]
      }
    },
    "/api/v1/environments/{environment_api_key}/features/{feature_pk}/create-segment-override/": {
      "post": {
        "operationId": "create_segment_override",
        "description": "Creates a segment override for a feature in an environment in a single call, setting both the segment binding and its value. Applies to environments without v2 feature versioning (use_v2_feature_versioning: false).",
        "parameters": [
          {
            "name": "environment_api_key",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "feature_pk",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CustomCreateSegmentOverrideFeatureState"
              }
            },
            "application/x-www-form-urlencoded": {
              "schema": {
                "$ref": "#/components/schemas/CustomCreateSegmentOverrideFeatureState"
              }
            },
            "multipart/form-data": {
              "schema": {
                "$ref": "#/components/schemas/CustomCreateSegmentOverrideFeatureState"
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CustomCreateSegmentOverrideFeatureState"
                }
              }
            }
          }
        },
        "security": [
          {
            "tokenAuth": []
          },
          {
            "Master API Key": []
          }
        ],
        "tags": [
          "mcp"
        ]
      }
    },
    "/api/v1/environments/{environment_api_key}/featurestates/{id}/": {
      "put": {
        "operationId": "update_environment_feature_state",
        "description": "Updates a feature state in an environment, including enabled status and value. Applies to environments without v2 feature versioning (use_v2_feature_versioning: false).",
        "parameters": [
          {
            "name": "environment_api_key",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "id",
            "in": "path",
            "description": "A unique integer value identifying this feature state.",
            "required": true,
            "schema": {
              "type": "integer"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/FeatureStateSerializerBasic"
              }
            },
            "application/x-www-form-urlencoded": {
              "schema": {
                "$ref": "#/components/schemas/FeatureStateSerializerBasic"
              }
            },
            "multipart/form-data": {
              "schema": {
                "$ref": "#/components/schemas/FeatureStateSerializerBasic"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/FeatureStateSerializerBasic"
                }
              }
            }
          }
        },
        "security": [
          {
            "tokenAuth": []
          },
          {
            "Master API Key": []
          }
        ],
        "tags": [
          "mcp"
        ]
      }
    },
    "/api/v1/environments/{environment_api_key}/list-change-requests/": {
      "get": {
        "operationId": "list_environment_change_requests",
        "description": "Retrieves all change requests for an environment.",
        "parameters": [
          {
            "name": "committed",
            "in": "query",
            "description": "Filter on the committed status of a change request.",
            "schema": {
              "type": [
                "boolean",
                "null"
              ]
            }
          },
          {
            "name": "environment_api_key",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "feature_id",
            "in": "query",
            "description": "Filter for a particular feature.",
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "live_from_after",
            "in": "query",
            "description": "Filter change requests due to go live after this datetime.",
            "schema": {
              "type": "string",
              "format": "date-time"
            }
          },
          {
            "name": "page",
            "in": "query",
            "description": "A page number within the paginated result set.",
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "page_size",
            "in": "query",
            "description": "Number of results to return per page.",
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "search",
            "in": "query",
            "description": "Fuzzy search across Change Request titles.",
            "schema": {
              "type": "string",
              "minLength": 1
            }
          },
          {
            "name": "segment_id",
            "in": "query",
            "description": "Filter change requests which match a specific segment id.",
            "schema": {
              "type": "integer"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ChangeRequestList"
                }
              }
            }
          },
          "400": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/WorkflowsError"
                }
              }
            }
          }
        },
        "security": [
          {
            "tokenAuth": []
          },
          {
            "Master API Key": []
          }
        ],
        "tags": [
          "mcp"
        ]
      }
    },
    "/api/v1/environments/{environment_pk}/feature-lifecycle-counts/": {
      "get": {
        "operationId": "get_feature_lifecycle_counts",
        "description": "Retrieves the count of features in each lifecycle stage for the specified environment.",
        "parameters": [
          {
            "name": "environment_pk",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/FeatureLifecycleCounts"
                }
              }
            }
          }
        },
        "security": [
          {
            "tokenAuth": []
          },
          {
            "Master API Key": []
          }
        ],
        "tags": [
          "mcp"
        ]
      }
    },
    "/api/v1/environments/{environment_pk}/features/{feature_pk}/versions/": {
      "get": {
        "operationId": "get_environment_feature_versions",
        "description": "Retrieves version information for a feature flag in a specific environment. Applies to environments with v2 feature versioning (use_v2_feature_versioning: true).",
        "parameters": [
          {
            "name": "environment_pk",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "feature_pk",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "page",
            "in": "query",
            "description": "A page number within the paginated result set.",
            "required": false,
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "page_size",
            "in": "query",
            "description": "Number of results to return per page.",
            "required": false,
            "schema": {
              "type": "integer"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PaginatedEnvironmentFeatureVersionList"
                }
              }
            }
          }
        },
        "security": [
          {
            "tokenAuth": []
          },
          {
            "Master API Key": []
          }
        ],
        "tags": [
          "mcp"
        ]
      },
      "post": {
        "operationId": "create_environment_feature_version",
        "description": "Creates a new version for a feature flag in a specific environment. Applies to environments with v2 feature versioning (use_v2_feature_versioning: true).",
        "parameters": [
          {
            "name": "environment_pk",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "feature_pk",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/EnvironmentFeatureVersionCreate"
              }
            },
            "application/x-www-form-urlencoded": {
              "schema": {
                "$ref": "#/components/schemas/EnvironmentFeatureVersionCreate"
              }
            },
            "multipart/form-data": {
              "schema": {
                "$ref": "#/components/schemas/EnvironmentFeatureVersionCreate"
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/EnvironmentFeatureVersionCreate"
                }
              }
            }
          }
        },
        "security": [
          {
            "tokenAuth": []
          },
          {
            "Master API Key": []
          }
        ],
        "tags": [
          "mcp"
        ]
      }
    },
    "/api/v1/environments/{environment_pk}/features/{feature_pk}/versions/{environment_feature_version_pk}/featurestates/": {
      "get": {
        "operationId": "get_environment_feature_version_states",
        "description": "Retrieves feature state information for a specific version in an environment. Applies to environments with v2 feature versioning (use_v2_feature_versioning: true).",
        "parameters": [
          {
            "name": "environment_feature_version_pk",
            "in": "path",
            "required": true,
            "schema": {
              "type": [
                "string",
                "null"
              ],
              "format": "uuid"
            }
          },
          {
            "name": "environment_pk",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "feature_pk",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/CustomEnvironmentFeatureVersionFeatureState"
                  }
                }
              }
            }
          }
        },
        "security": [
          {
            "tokenAuth": []
          },
          {
            "Master API Key": []
          }
        ],
        "tags": [
          "mcp"
        ]
      },
      "post": {
        "operationId": "create_environment_feature_version_state",
        "description": "Creates a new feature state for a specific version in an environment. Applies to environments with v2 feature versioning (use_v2_feature_versioning: true).",
        "parameters": [
          {
            "name": "environment_feature_version_pk",
            "in": "path",
            "required": true,
            "schema": {
              "type": [
                "string",
                "null"
              ],
              "format": "uuid"
            }
          },
          {
            "name": "environment_pk",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "feature_pk",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CustomEnvironmentFeatureVersionFeatureState"
              }
            },
            "application/x-www-form-urlencoded": {
              "schema": {
                "$ref": "#/components/schemas/CustomEnvironmentFeatureVersionFeatureState"
              }
            },
            "multipart/form-data": {
              "schema": {
                "$ref": "#/components/schemas/CustomEnvironmentFeatureVersionFeatureState"
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CustomEnvironmentFeatureVersionFeatureState"
                }
              }
            }
          }
        },
        "security": [
          {
            "tokenAuth": []
          },
          {
            "Master API Key": []
          }
        ],
        "tags": [
          "mcp"
        ]
      }
    },
    "/api/v1/environments/{environment_pk}/features/{feature_pk}/versions/{environment_feature_version_pk}/featurestates/{id}/": {
      "put": {
        "operationId": "update_environment_feature_version_state",
        "description": "Updates an existing feature state for a specific version in an environment. Applies to environments with v2 feature versioning (use_v2_feature_versioning: true).",
        "parameters": [
          {
            "name": "environment_feature_version_pk",
            "in": "path",
            "required": true,
            "schema": {
              "type": [
                "string",
                "null"
              ],
              "format": "uuid"
            }
          },
          {
            "name": "environment_pk",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "feature_pk",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "id",
            "in": "path",
            "description": "A unique integer value identifying this feature state.",
            "required": true,
            "schema": {
              "type": "integer"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CustomEnvironmentFeatureVersionFeatureState"
              }
            },
            "application/x-www-form-urlencoded": {
              "schema": {
                "$ref": "#/components/schemas/CustomEnvironmentFeatureVersionFeatureState"
              }
            },
            "multipart/form-data": {
              "schema": {
                "$ref": "#/components/schemas/CustomEnvironmentFeatureVersionFeatureState"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CustomEnvironmentFeatureVersionFeatureState"
                }
              }
            }
          }
        },
        "security": [
          {
            "tokenAuth": []
          },
          {
            "Master API Key": []
          }
        ],
        "tags": [
          "mcp"
        ]
      }
    },
    "/api/v1/environments/{environment_pk}/features/{feature_pk}/versions/{id}/publish/": {
      "post": {
        "operationId": "publish_environment_feature_version",
        "description": "Publishes a feature version to make it live in the environment. Applies to environments with v2 feature versioning (use_v2_feature_versioning: true).",
        "parameters": [
          {
            "name": "environment_pk",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "feature_pk",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/EnvironmentFeatureVersionPublish"
              }
            },
            "application/x-www-form-urlencoded": {
              "schema": {
                "$ref": "#/components/schemas/EnvironmentFeatureVersionPublish"
              }
            },
            "multipart/form-data": {
              "schema": {
                "$ref": "#/components/schemas/EnvironmentFeatureVersionPublish"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/EnvironmentFeatureVersionPublish"
                }
              }
            }
          }
        },
        "security": [
          {
            "tokenAuth": []
          },
          {
            "Master API Key": []
          }
        ],
        "tags": [
          "mcp"
        ]
      }
    },
    "/api/v1/features/feature-segments/": {
      "get": {
        "operationId": "list_feature_segments",
        "description": "Lists segment overrides for a feature in an environment.",
        "parameters": [
          {
            "name": "environment",
            "in": "query",
            "required": true,
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "feature",
            "in": "query",
            "required": true,
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "page",
            "in": "query",
            "description": "A page number within the paginated result set.",
            "required": false,
            "schema": {
              "type": "integer"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PaginatedFeatureSegmentListList"
                }
              }
            }
          }
        },
        "security": [
          {
            "tokenAuth": []
          },
          {
            "Master API Key": []
          }
        ],
        "tags": [
          "mcp"
        ]
      }
    },
    "/api/v1/features/feature-segments/{id}/": {
      "delete": {
        "operationId": "delete_feature_segment",
        "description": "Deletes a segment override. Applies to environments without v2 feature versioning (use_v2_feature_versioning: false).",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "A unique integer value identifying this feature segment.",
            "required": true,
            "schema": {
              "type": "integer"
            }
          }
        ],
        "responses": {
          "204": {
            "description": "No response body"
          }
        },
        "security": [
          {
            "tokenAuth": []
          },
          {
            "Master API Key": []
          }
        ],
        "tags": [
          "mcp"
        ]
      }
    },
    "/api/v1/features/featurestates/{id}/": {
      "put": {
        "operationId": "update_feature_state",
        "description": "Updates a feature state, including its enabled status and value. Also updates a segment override's value for environments without v2 feature versioning (use_v2_feature_versioning: false).",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "A unique integer value identifying this feature state.",
            "required": true,
            "schema": {
              "type": "integer"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/WritableNestedFeatureState"
              }
            },
            "application/x-www-form-urlencoded": {
              "schema": {
                "$ref": "#/components/schemas/WritableNestedFeatureState"
              }
            },
            "multipart/form-data": {
              "schema": {
                "$ref": "#/components/schemas/WritableNestedFeatureState"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/WritableNestedFeatureState"
                }
              }
            }
          }
        },
        "security": [
          {
            "tokenAuth": []
          },
          {
            "Master API Key": []
          }
        ],
        "tags": [
          "mcp"
        ]
      }
    },
    "/api/v1/organisations/": {
      "get": {
        "operationId": "list_organizations",
        "description": "Lists all organisations accessible with the provided user API key.",
        "parameters": [
          {
            "name": "page",
            "in": "query",
            "description": "A page number within the paginated result set.",
            "required": false,
            "schema": {
              "type": "integer"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PaginatedOrganisationSerializerFullList"
                }
              }
            }
          }
        },
        "security": [
          {
            "tokenAuth": []
          },
          {
            "Master API Key": []
          }
        ],
        "tags": [
          "mcp"
        ]
      }
    },
    "/api/v1/organisations/{organisation_pk}/groups/": {
      "get": {
        "operationId": "list_organization_groups",
        "description": "Retrieves all permission groups within the organisation.",
        "parameters": [
          {
            "name": "organisation_pk",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "page",
            "in": "query",
            "description": "A page number within the paginated result set.",
            "required": false,
            "schema": {
              "type": "integer"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PaginatedListUserPermissionGroupList"
                }
              }
            }
          }
        },
        "security": [
          {
            "tokenAuth": []
          },
          {
            "Master API Key": []
          }
        ],
        "tags": [
          "mcp"
        ]
      }
    },
    "/api/v1/organisations/{organisation_pk}/invites/": {
      "get": {
        "operationId": "list_organization_invites",
        "description": "Retrieves all pending invitations for the organisation.",
        "parameters": [
          {
            "name": "organisation_pk",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "page",
            "in": "query",
            "description": "A page number within the paginated result set.",
            "required": false,
            "schema": {
              "type": "integer"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PaginatedInviteListList"
                }
              }
            }
          }
        },
        "security": [
          {
            "tokenAuth": []
          },
          {
            "Master API Key": []
          }
        ],
        "tags": [
          "mcp"
        ]
      },
      "post": {
        "operationId": "create_organization_invite",
        "description": "Send an invitation to join the organisation with specified role and permissions.",
        "parameters": [
          {
            "name": "organisation_pk",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/Invite"
              }
            },
            "application/x-www-form-urlencoded": {
              "schema": {
                "$ref": "#/components/schemas/Invite"
              }
            },
            "multipart/form-data": {
              "schema": {
                "$ref": "#/components/schemas/Invite"
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Invite"
                }
              }
            }
          }
        },
        "security": [
          {
            "tokenAuth": []
          },
          {
            "Master API Key": []
          }
        ],
        "tags": [
          "mcp"
        ]
      }
    },
    "/api/v1/organisations/{organisation_pk}/roles/": {
      "get": {
        "operationId": "list_organization_roles",
        "description": "Retrieves all custom roles defined within the organisation.",
        "parameters": [
          {
            "name": "organisation_pk",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "page",
            "in": "query",
            "description": "A page number within the paginated result set.",
            "required": false,
            "schema": {
              "type": "integer"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PaginatedRoleList"
                }
              }
            }
          }
        },
        "security": [
          {
            "tokenAuth": []
          },
          {
            "Master API Key": []
          }
        ],
        "tags": [
          "mcp"
        ]
      }
    },
    "/api/v1/organisations/{id}/projects/": {
      "get": {
        "operationId": "list_projects_in_organization",
        "description": "Retrieves all projects within a specified organisation.",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "A unique integer value identifying this organisation.",
            "required": true,
            "schema": {
              "type": "integer"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/OrganisationSerializerFull"
                }
              }
            }
          }
        },
        "security": [
          {
            "tokenAuth": []
          },
          {
            "Master API Key": []
          }
        ],
        "tags": [
          "mcp"
        ]
      }
    },
    "/api/v1/projects/{id}/": {
      "get": {
        "operationId": "get_project",
        "description": "Retrieves comprehensive information about a specific project including configuration and statistics.",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "A unique integer value identifying this project.",
            "required": true,
            "schema": {
              "type": "integer"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProjectRetrieve"
                }
              }
            }
          }
        },
        "security": [
          {
            "tokenAuth": []
          },
          {
            "Master API Key": []
          }
        ],
        "tags": [
          "mcp"
        ]
      },
      "put": {
        "operationId": "update_project",
        "description": "Updates project configuration settings such as the project name and feature visibility.",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "A unique integer value identifying this project.",
            "required": true,
            "schema": {
              "type": "integer"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/ProjectUpdate"
              }
            },
            "application/x-www-form-urlencoded": {
              "schema": {
                "$ref": "#/components/schemas/ProjectUpdate"
              }
            },
            "multipart/form-data": {
              "schema": {
                "$ref": "#/components/schemas/ProjectUpdate"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProjectUpdate"
                }
              }
            }
          }
        },
        "security": [
          {
            "tokenAuth": []
          },
          {
            "Master API Key": []
          }
        ],
        "tags": [
          "mcp"
        ]
      }
    },
    "/api/v1/projects/{id}/environments/": {
      "get": {
        "operationId": "list_project_environments",
        "description": "Retrieves all environments configured for the specified project.",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "A unique integer value identifying this project.",
            "required": true,
            "schema": {
              "type": "integer"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProjectList"
                }
              }
            }
          }
        },
        "security": [
          {
            "tokenAuth": []
          },
          {
            "Master API Key": []
          }
        ],
        "tags": [
          "mcp"
        ]
      }
    },
    "/api/v1/projects/{project_pk}/change-requests/": {
      "get": {
        "operationId": "list_project_change_requests",
        "description": "Retrieves all change requests for a project.",
        "parameters": [
          {
            "name": "committed",
            "in": "query",
            "description": "Filter on the committed status of a change request.",
            "schema": {
              "type": [
                "boolean",
                "null"
              ]
            }
          },
          {
            "name": "page",
            "in": "query",
            "description": "A page number within the paginated result set.",
            "required": false,
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "page_size",
            "in": "query",
            "description": "Number of results to return per page.",
            "required": false,
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "project_pk",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "search",
            "in": "query",
            "description": "Fuzzy search across Change Request titles.",
            "schema": {
              "type": "string",
              "minLength": 1
            }
          },
          {
            "name": "segment_id",
            "in": "query",
            "description": "Filter change requests which match a specific segment id.",
            "schema": {
              "type": "integer"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PaginatedProjectChangeRequestListList"
                }
              }
            }
          },
          "400": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/WorkflowsError"
                }
              }
            }
          }
        },
        "security": [
          {
            "tokenAuth": []
          },
          {
            "Master API Key": []
          }
        ],
        "tags": [
          "mcp"
        ]
      }
    },
    "/api/v1/projects/{project_pk}/feature-health/events/": {
      "get": {
        "operationId": "get_feature_health_events",
        "description": "Retrieves feature health monitoring events and metrics for the project.",
        "parameters": [
          {
            "name": "project_pk",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/FeatureHealthEvent"
                  }
                }
              }
            }
          }
        },
        "security": [
          {
            "tokenAuth": []
          },
          {
            "Master API Key": []
          }
        ],
        "tags": [
          "mcp"
        ]
      }
    },
    "/api/v1/projects/{project_pk}/features/": {
      "get": {
        "operationId": "list_project_features",
        "description": "Lists a project's feature flags (paginated). Pass `environment=<id>` to also get each feature's live state for that environment in `environment_feature_state`, along with override counts. Works for both v1 and v2 versioned environments.",
        "parameters": [
          {
            "name": "environment",
            "in": "query",
            "description": "Integer ID of the environment to view features in the context of.",
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "group_owners",
            "in": "query",
            "description": "Comma separated list of group owner ids to filter on",
            "schema": {
              "type": "string",
              "minLength": 1
            }
          },
          {
            "name": "identity",
            "in": "query",
            "description": "ID of the identity to sort features with identity overrides first.",
            "schema": {
              "type": "string",
              "minLength": 1
            }
          },
          {
            "name": "is_archived",
            "in": "query",
            "schema": {
              "type": "boolean"
            }
          },
          {
            "name": "is_enabled",
            "in": "query",
            "description": "Boolean value to filter features as enabled or disabled.",
            "schema": {
              "type": [
                "boolean",
                "null"
              ]
            }
          },
          {
            "name": "lifecycle_stage",
            "in": "query",
            "description": "Lifecycle stage to filter on. Requires `environment`.\n\n* `new` - new\n* `live` - live\n* `stale` - stale\n* `permanent` - permanent\n* `needs_monitoring` - needs_monitoring\n* `to_remove` - to_remove",
            "schema": {
              "type": "string",
              "enum": [
                "new",
                "live",
                "stale",
                "permanent",
                "needs_monitoring",
                "to_remove"
              ],
              "minLength": 1
            }
          },
          {
            "name": "owners",
            "in": "query",
            "description": "Comma separated list of owner ids to filter on",
            "schema": {
              "type": "string",
              "minLength": 1
            }
          },
          {
            "name": "page",
            "in": "query",
            "description": "A page number within the paginated result set.",
            "required": false,
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "page_size",
            "in": "query",
            "description": "Number of results to return per page.",
            "required": false,
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "project_pk",
            "in": "path",
            "required": true,
            "schema": {
              "description": "Changing the project selected will remove previous Feature States for the previously associated projects Environments that are related to this Feature. New default Feature States will be created for the new selected projects Environments for this Feature. Also this will remove any Tags associated with a feature as Tags are Project defined",
              "type": "integer"
            }
          },
          {
            "name": "search",
            "in": "query",
            "schema": {
              "type": "string",
              "minLength": 1
            }
          },
          {
            "name": "segment",
            "in": "query",
            "description": "Integer ID of the segment to retrieve segment overrides for.",
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "sort_direction",
            "in": "query",
            "description": "* `ASC` - ASC\n* `DESC` - DESC",
            "schema": {
              "type": "string",
              "default": "ASC",
              "enum": [
                "ASC",
                "DESC"
              ],
              "minLength": 1
            }
          },
          {
            "name": "sort_field",
            "in": "query",
            "description": "* `created_date` - created_date\n* `name` - name",
            "schema": {
              "type": "string",
              "default": "created_date",
              "enum": [
                "created_date",
                "name"
              ],
              "minLength": 1
            }
          },
          {
            "name": "tag_strategy",
            "in": "query",
            "description": "* `UNION` - UNION\n* `INTERSECTION` - INTERSECTION",
            "schema": {
              "type": "string",
              "default": "INTERSECTION",
              "enum": [
                "UNION",
                "INTERSECTION"
              ],
              "minLength": 1
            }
          },
          {
            "name": "tags",
            "in": "query",
            "description": "Comma separated list of tag ids to filter on (AND with INTERSECTION, and OR with UNION via tag_strategy)",
            "schema": {
              "type": "string",
              "minLength": 1
            }
          },
          {
            "name": "type",
            "in": "query",
            "description": "Feature type to filter on (STANDARD or MULTIVARIATE).\n\n* `STANDARD` - STANDARD\n* `MULTIVARIATE` - MULTIVARIATE",
            "schema": {
              "type": "string",
              "enum": [
                "STANDARD",
                "MULTIVARIATE"
              ],
              "minLength": 1
            }
          },
          {
            "name": "value_search",
            "in": "query",
            "description": "Value of type int, string, or boolean to filter features based on their values",
            "schema": {
              "type": "string",
              "minLength": 1
            }
          }
        ],
        "responses": {
          "200": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PaginatedListFeatureList"
                }
              }
            }
          }
        },
        "security": [
          {
            "tokenAuth": []
          },
          {
            "Master API Key": []
          }
        ],
        "tags": [
          "mcp"
        ]
      },
      "post": {
        "operationId": "create_feature",
        "description": "Creates a new feature flag in the specified project with default settings.",
        "parameters": [
          {
            "name": "project_pk",
            "in": "path",
            "required": true,
            "schema": {
              "description": "Changing the project selected will remove previous Feature States for the previously associated projects Environments that are related to this Feature. New default Feature States will be created for the new selected projects Environments for this Feature. Also this will remove any Tags associated with a feature as Tags are Project defined",
              "type": "integer"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/ListFeature"
              }
            },
            "application/x-www-form-urlencoded": {
              "schema": {
                "$ref": "#/components/schemas/ListFeature"
              }
            },
            "multipart/form-data": {
              "schema": {
                "$ref": "#/components/schemas/ListFeature"
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ListFeature"
                }
              }
            }
          }
        },
        "security": [
          {
            "tokenAuth": []
          },
          {
            "Master API Key": []
          }
        ],
        "tags": [
          "mcp"
        ]
      }
    },
    "/api/v1/projects/{project_pk}/features/{feature_pk}/code-references/": {
      "get": {
        "operationId": "get_feature_code_references",
        "description": "Retrieves code references and usage information for the feature flag.",
        "parameters": [
          {
            "name": "feature_pk",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "project_pk",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/FeatureFlagCodeReferencesRepositorySummary"
                }
              }
            }
          }
        },
        "security": [
          {
            "tokenAuth": []
          },
          {
            "Master API Key": []
          }
        ],
        "tags": [
          "mcp"
        ]
      }
    },
    "/api/v1/projects/{project_pk}/features/{feature_pk}/feature-external-resources/": {
      "get": {
        "operationId": "get_feature_external_resources",
        "description": "Retrieves external resources linked to the feature flag.",
        "parameters": [
          {
            "name": "feature_pk",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "page",
            "in": "query",
            "description": "A page number within the paginated result set.",
            "required": false,
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "project_pk",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PaginatedFeatureExternalResourceList"
                }
              }
            }
          }
        },
        "security": [
          {
            "tokenAuth": []
          },
          {
            "Master API Key": []
          }
        ],
        "tags": [
          "mcp"
        ]
      }
    },
    "/api/v1/projects/{project_pk}/features/{feature_pk}/mv-options/": {
      "get": {
        "operationId": "list_feature_multivariate_options",
        "description": "Retrieves all multivariate options for a feature flag.",
        "parameters": [
          {
            "name": "feature_pk",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "page",
            "in": "query",
            "description": "A page number within the paginated result set.",
            "required": false,
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "project_pk",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PaginatedMultivariateFeatureOptionList"
                }
              }
            }
          }
        },
        "security": [
          {
            "tokenAuth": []
          },
          {
            "Master API Key": []
          }
        ],
        "tags": [
          "mcp"
        ]
      },
      "post": {
        "operationId": "create_feature_multivariate_option",
        "description": "Creates a new multivariate option for a feature flag.",
        "parameters": [
          {
            "name": "feature_pk",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "project_pk",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/MultivariateFeatureOption"
              }
            },
            "application/x-www-form-urlencoded": {
              "schema": {
                "$ref": "#/components/schemas/MultivariateFeatureOption"
              }
            },
            "multipart/form-data": {
              "schema": {
                "$ref": "#/components/schemas/MultivariateFeatureOption"
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/MultivariateFeatureOption"
                }
              }
            }
          }
        },
        "security": [
          {
            "tokenAuth": []
          },
          {
            "Master API Key": []
          }
        ],
        "tags": [
          "mcp"
        ]
      }
    },
    "/api/v1/projects/{project_pk}/features/{feature_pk}/mv-options/{id}/": {
      "put": {
        "operationId": "update_feature_multivariate_option",
        "description": "Updates an existing multivariate option.",
        "parameters": [
          {
            "name": "feature_pk",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "id",
            "in": "path",
            "description": "A unique integer value identifying this multivariate feature option.",
            "required": true,
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "project_pk",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/MultivariateFeatureOption"
              }
            },
            "application/x-www-form-urlencoded": {
              "schema": {
                "$ref": "#/components/schemas/MultivariateFeatureOption"
              }
            },
            "multipart/form-data": {
              "schema": {
                "$ref": "#/components/schemas/MultivariateFeatureOption"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/MultivariateFeatureOption"
                }
              }
            }
          }
        },
        "security": [
          {
            "tokenAuth": []
          },
          {
            "Master API Key": []
          }
        ],
        "tags": [
          "mcp"
        ]
      },
      "delete": {
        "operationId": "delete_feature_multivariate_option",
        "description": "Deletes a multivariate option.",
        "parameters": [
          {
            "name": "feature_pk",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "id",
            "in": "path",
            "description": "A unique integer value identifying this multivariate feature option.",
            "required": true,
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "project_pk",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "204": {
            "description": "No response body"
          }
        },
        "security": [
          {
            "tokenAuth": []
          },
          {
            "Master API Key": []
          }
        ],
        "tags": [
          "mcp"
        ]
      }
    },
    "/api/v1/projects/{project_pk}/features/{id}/": {
      "get": {
        "operationId": "get_feature_flag",
        "description": "Retrieves detailed information about a specific feature flag.",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "A unique integer value identifying this feature.",
            "required": true,
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "project_pk",
            "in": "path",
            "required": true,
            "schema": {
              "description": "Changing the project selected will remove previous Feature States for the previously associated projects Environments that are related to this Feature. New default Feature States will be created for the new selected projects Environments for this Feature. Also this will remove any Tags associated with a feature as Tags are Project defined",
              "type": "integer"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ListFeature"
                }
              }
            }
          }
        },
        "security": [
          {
            "tokenAuth": []
          },
          {
            "Master API Key": []
          }
        ],
        "tags": [
          "mcp"
        ]
      },
      "put": {
        "operationId": "update_feature",
        "description": "Updates feature flag properties such as name and description.",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "A unique integer value identifying this feature.",
            "required": true,
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "project_pk",
            "in": "path",
            "required": true,
            "schema": {
              "description": "Changing the project selected will remove previous Feature States for the previously associated projects Environments that are related to this Feature. New default Feature States will be created for the new selected projects Environments for this Feature. Also this will remove any Tags associated with a feature as Tags are Project defined",
              "type": "integer"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/UpdateFeature"
              }
            },
            "application/x-www-form-urlencoded": {
              "schema": {
                "$ref": "#/components/schemas/UpdateFeature"
              }
            },
            "multipart/form-data": {
              "schema": {
                "$ref": "#/components/schemas/UpdateFeature"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/UpdateFeature"
                }
              }
            }
          }
        },
        "security": [
          {
            "tokenAuth": []
          },
          {
            "Master API Key": []
          }
        ],
        "tags": [
          "mcp"
        ]
      }
    },
    "/api/v1/projects/{project_pk}/features/{id}/evaluation-data/": {
      "get": {
        "operationId": "get_feature_evaluation_data",
        "description": "Retrieves evaluation data and analytics for a specific feature flag.",
        "parameters": [
          {
            "name": "client_application_name",
            "in": "query",
            "schema": {
              "type": [
                "string",
                "null"
              ]
            }
          },
          {
            "name": "client_application_version",
            "in": "query",
            "schema": {
              "type": [
                "string",
                "null"
              ]
            }
          },
          {
            "name": "environment_id",
            "in": "query",
            "required": true,
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "id",
            "in": "path",
            "description": "A unique integer value identifying this feature.",
            "required": true,
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "period",
            "in": "query",
            "description": "number of days",
            "schema": {
              "type": "integer",
              "default": 30
            }
          },
          {
            "name": "project_pk",
            "in": "path",
            "required": true,
            "schema": {
              "description": "Changing the project selected will remove previous Feature States for the previously associated projects Environments that are related to this Feature. New default Feature States will be created for the new selected projects Environments for this Feature. Also this will remove any Tags associated with a feature as Tags are Project defined",
              "type": "integer"
            }
          },
          {
            "name": "user_agent",
            "in": "query",
            "schema": {
              "type": [
                "string",
                "null"
              ]
            }
          }
        ],
        "responses": {
          "200": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/FeatureEvaluationData"
                }
              }
            }
          }
        },
        "security": [
          {
            "tokenAuth": []
          },
          {
            "Master API Key": []
          }
        ],
        "tags": [
          "mcp"
        ]
      }
    },
    "/api/v1/projects/{project_pk}/release-pipelines/": {
      "get": {
        "operationId": "list_project_release_pipelines",
        "description": "Retrieves all release pipelines configured for the specified project.",
        "parameters": [
          {
            "name": "ordering",
            "in": "query",
            "description": "Which field to use when ordering the results.",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "page",
            "in": "query",
            "description": "A page number within the paginated result set.",
            "required": false,
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "page_size",
            "in": "query",
            "description": "Number of results to return per page.",
            "required": false,
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "project_pk",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PaginatedReleasePipelineList"
                }
              }
            }
          }
        },
        "security": [
          {
            "tokenAuth": []
          },
          {
            "Master API Key": []
          }
        ],
        "tags": [
          "mcp"
        ]
      }
    },
    "/api/v1/projects/{project_pk}/release-pipelines/{id}/": {
      "get": {
        "operationId": "get_release_pipeline",
        "description": "Retrieves detailed information about a specific release pipeline.",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "project_pk",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ReleasePipelineDetail"
                }
              }
            }
          }
        },
        "security": [
          {
            "tokenAuth": []
          },
          {
            "Master API Key": []
          }
        ],
        "tags": [
          "mcp"
        ]
      }
    },
    "/api/v1/projects/{project_pk}/release-pipelines/{id}/add-feature/": {
      "post": {
        "operationId": "add_feature_to_release_pipeline",
        "description": "Adds a feature flag to a release pipeline for staged rollout.",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "project_pk",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/ReleasePipeline"
              }
            },
            "application/x-www-form-urlencoded": {
              "schema": {
                "$ref": "#/components/schemas/ReleasePipeline"
              }
            },
            "multipart/form-data": {
              "schema": {
                "$ref": "#/components/schemas/ReleasePipeline"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ReleasePipeline"
                }
              }
            }
          }
        },
        "security": [
          {
            "tokenAuth": []
          },
          {
            "Master API Key": []
          }
        ],
        "tags": [
          "mcp"
        ]
      }
    },
    "/api/v1/projects/{project_pk}/segments/": {
      "get": {
        "operationId": "list_project_segments",
        "description": "Retrieves all user segments defined for audience targeting within the project.",
        "parameters": [
          {
            "name": "identity",
            "in": "query",
            "description": "Optionally provide the id of an identity to get only the segments they match",
            "schema": {
              "type": "string",
              "minLength": 1
            }
          },
          {
            "name": "include_feature_specific",
            "in": "query",
            "schema": {
              "type": "boolean",
              "default": true
            }
          },
          {
            "name": "page",
            "in": "query",
            "description": "A page number within the paginated result set.",
            "required": false,
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "page_size",
            "in": "query",
            "description": "Number of results to return per page.",
            "required": false,
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "project_pk",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "q",
            "in": "query",
            "description": "Search term to find segment with given term in their name",
            "schema": {
              "type": "string",
              "minLength": 1
            }
          }
        ],
        "responses": {
          "200": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PaginatedSegmentList"
                }
              }
            }
          }
        },
        "security": [
          {
            "tokenAuth": []
          },
          {
            "Master API Key": []
          }
        ],
        "tags": [
          "mcp"
        ]
      },
      "post": {
        "operationId": "create_project_segment",
        "description": "Creates a new user segment for audience targeting within the project.",
        "parameters": [
          {
            "name": "project_pk",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/Segment"
              }
            },
            "application/x-www-form-urlencoded": {
              "schema": {
                "$ref": "#/components/schemas/Segment"
              }
            },
            "multipart/form-data": {
              "schema": {
                "$ref": "#/components/schemas/Segment"
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Segment"
                }
              }
            }
          }
        },
        "security": [
          {
            "tokenAuth": []
          },
          {
            "Master API Key": []
          }
        ],
        "tags": [
          "mcp"
        ]
      }
    },
    "/api/v1/projects/{project_pk}/segments/{id}/": {
      "get": {
        "operationId": "get_project_segment",
        "description": "Retrieves detailed information about a specific user segment.",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "A unique integer value identifying this segment.",
            "required": true,
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "project_pk",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Segment"
                }
              }
            }
          }
        },
        "security": [
          {
            "tokenAuth": []
          },
          {
            "Master API Key": []
          }
        ],
        "tags": [
          "mcp"
        ]
      },
      "put": {
        "operationId": "update_project_segment",
        "description": "Updates an existing user segment's properties and rules.",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "A unique integer value identifying this segment.",
            "required": true,
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "project_pk",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/Segment"
              }
            },
            "application/x-www-form-urlencoded": {
              "schema": {
                "$ref": "#/components/schemas/Segment"
              }
            },
            "multipart/form-data": {
              "schema": {
                "$ref": "#/components/schemas/Segment"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Segment"
                }
              }
            }
          }
        },
        "security": [
          {
            "tokenAuth": []
          },
          {
            "Master API Key": []
          }
        ],
        "tags": [
          "mcp"
        ]
      }
    }
  },
  "components": {
    "schemas": {
      "ActionTypeEnum": {
        "description": "* `TOGGLE_FEATURE` - Enable/Disable Feature for the environment\n* `UPDATE_FEATURE_VALUE` - Update Feature Value for the environment\n* `TOGGLE_FEATURE_FOR_SEGMENT` - Enable/Disable Feature for a specific segment\n* `UPDATE_FEATURE_VALUE_FOR_SEGMENT` - Update Feature Value for a specific segment\n* `PHASED_ROLLOUT` - Create Phased Rollout",
        "type": "string",
        "enum": [
          "TOGGLE_FEATURE",
          "UPDATE_FEATURE_VALUE",
          "TOGGLE_FEATURE_FOR_SEGMENT",
          "UPDATE_FEATURE_VALUE_FOR_SEGMENT",
          "PHASED_ROLLOUT"
        ]
      },
      "AggregationEnum": {
        "description": "* `count` - Count\n* `sum` - Sum\n* `mean` - Mean\n* `occurrence` - Occurrence (event happened at least once)",
        "type": "string",
        "enum": [
          "count",
          "sum",
          "mean",
          "occurrence"
        ]
      },
      "BillingStatusEnum": {
        "description": "* `ACTIVE` - Active\n* `DUNNING` - Dunning",
        "type": "string",
        "enum": [
          "ACTIVE",
          "DUNNING"
        ]
      },
      "BlankEnum": {
        "enum": [
          ""
        ]
      },
      "ChangeRequestApproval": {
        "description": "Adds nested create feature",
        "type": "object",
        "properties": {
          "id": {
            "type": "integer",
            "readOnly": true
          },
          "user": {
            "type": "integer"
          },
          "approved_at": {
            "type": [
              "string",
              "null"
            ],
            "format": "date-time",
            "readOnly": true
          }
        },
        "required": [
          "user"
        ]
      },
      "ChangeRequestCreate": {
        "description": "Adds nested create feature",
        "type": "object",
        "properties": {
          "id": {
            "type": "integer",
            "readOnly": true
          },
          "created_at": {
            "type": "string",
            "format": "date-time",
            "readOnly": true
          },
          "updated_at": {
            "type": "string",
            "format": "date-time",
            "readOnly": true
          },
          "title": {
            "type": "string",
            "maxLength": 500
          },
          "description": {
            "type": [
              "string",
              "null"
            ]
          },
          "feature_states": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/CreateChangeRequestFeatureState"
            }
          },
          "deleted_at": {
            "type": [
              "string",
              "null"
            ],
            "format": "date-time",
            "readOnly": true
          },
          "environment": {
            "type": [
              "integer",
              "null"
            ],
            "readOnly": true
          },
          "committed_at": {
            "type": [
              "string",
              "null"
            ],
            "format": "date-time",
            "readOnly": true
          },
          "approvals": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/ChangeRequestApproval"
            }
          },
          "user": {
            "type": [
              "integer",
              "null"
            ],
            "readOnly": true
          },
          "committed_by": {
            "type": [
              "integer",
              "null"
            ],
            "readOnly": true
          },
          "group_assignments": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/ChangeRequestGroupAssignment"
            }
          },
          "environment_feature_versions": {
            "type": "array",
            "items": {
              "type": "string",
              "format": "uuid"
            }
          },
          "change_sets": {
            "type": [
              "array",
              "null"
            ],
            "items": {
              "$ref": "#/components/schemas/VersionChangeSet"
            }
          },
          "ignore_conflicts": {
            "type": "boolean"
          }
        },
        "required": [
          "feature_states",
          "title"
        ]
      },
      "ChangeRequestGroupAssignment": {
        "description": "Adds nested create feature",
        "type": "object",
        "properties": {
          "group": {
            "type": "integer"
          }
        },
        "required": [
          "group"
        ]
      },
      "ChangeRequestList": {
        "type": "object",
        "properties": {
          "id": {
            "type": "integer",
            "readOnly": true
          },
          "created_at": {
            "type": "string",
            "format": "date-time",
            "readOnly": true
          },
          "updated_at": {
            "type": "string",
            "format": "date-time",
            "readOnly": true
          },
          "title": {
            "type": "string",
            "readOnly": true
          },
          "description": {
            "type": [
              "string",
              "null"
            ],
            "readOnly": true
          },
          "user": {
            "type": [
              "integer",
              "null"
            ],
            "readOnly": true
          },
          "committed_at": {
            "type": [
              "string",
              "null"
            ],
            "format": "date-time",
            "readOnly": true
          },
          "committed_by": {
            "type": [
              "integer",
              "null"
            ],
            "readOnly": true
          },
          "deleted_at": {
            "type": [
              "string",
              "null"
            ],
            "format": "date-time",
            "readOnly": true
          },
          "live_from": {
            "type": [
              "string",
              "null"
            ],
            "format": "date-time",
            "readOnly": true
          },
          "environment_feature_versions": {
            "type": "array",
            "items": {
              "type": "string",
              "format": "uuid"
            },
            "readOnly": true
          },
          "ignore_conflicts": {
            "type": "boolean",
            "readOnly": true
          }
        }
      },
      "Condition": {
        "type": "object",
        "properties": {
          "id": {
            "type": "integer",
            "readOnly": true
          },
          "operator": {
            "$ref": "#/components/schemas/ConditionOperatorEnum"
          },
          "property": {
            "type": [
              "string",
              "null"
            ],
            "maxLength": 1000
          },
          "value": {
            "type": [
              "string",
              "null"
            ],
            "maxLength": 1000
          },
          "description": {
            "type": [
              "string",
              "null"
            ]
          },
          "delete": {
            "type": "boolean",
            "writeOnly": true
          }
        },
        "required": [
          "operator"
        ]
      },
      "ConditionOperatorEnum": {
        "description": "* `EQUAL` - Exactly Matches\n* `GREATER_THAN` - Greater than\n* `LESS_THAN` - Less than\n* `CONTAINS` - Contains\n* `GREATER_THAN_INCLUSIVE` - Greater than or equal to\n* `LESS_THAN_INCLUSIVE` - Less than or equal to\n* `NOT_CONTAINS` - Does not contain\n* `NOT_EQUAL` - Does not match\n* `REGEX` - Matches regex\n* `PERCENTAGE_SPLIT` - Percentage split\n* `MODULO` - Modulo Operation\n* `IS_SET` - Is set\n* `IS_NOT_SET` - Is not set\n* `IN` - In",
        "type": "string",
        "enum": [
          "EQUAL",
          "GREATER_THAN",
          "LESS_THAN",
          "CONTAINS",
          "GREATER_THAN_INCLUSIVE",
          "LESS_THAN_INCLUSIVE",
          "NOT_CONTAINS",
          "NOT_EQUAL",
          "REGEX",
          "PERCENTAGE_SPLIT",
          "MODULO",
          "IS_SET",
          "IS_NOT_SET",
          "IN"
        ]
      },
      "CreateChangeRequestFeatureState": {
        "description": "Adds nested create feature",
        "type": "object",
        "properties": {
          "id": {
            "type": "integer",
            "readOnly": true
          },
          "feature": {
            "type": "integer"
          },
          "feature_segment": {
            "type": [
              "integer",
              "null"
            ]
          },
[...]
