container_commands:
  01_migrate:
    command: django-admin.py migrate
    leader_only: true
  02_create_cache_table:
    command: django-admin.py createcachetable
    leader_only: true
  02_collectstatic:
    command: python manage.py collectstatic --noinput
option_settings:
  aws:elasticbeanstalk:application:environment:
    DJANGO_SETTINGS_MODULE: app.settings.production