
        <nav id="sidebarMenu" class="col-md-3 col-lg-2 d-md-block bg-light sidebar collapse">
            <div class="sidebar-sticky pt-3">
                <ul class="nav flex-column">
                    <li class="nav-item">
                        <a class="nav-link active" href="/sales-dashboard/">
                            <span data-feather="home"></span>
                            Organisations <span class="sr-only">(current)</span>
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link active" href="/sales-dashboard/email-usage/">
                          <span data-feather="home"></span>
                          Email Usage
                        </a>
                    </li>            
                </ul>
            </div>
        </nav>