{% extends "sales_dashboard/base.html" %}

{% block content %}
<div class="container-fluid">
    <div class="row">
        <nav id="sidebarMenu" class="col-md-3 col-lg-2 d-md-block bg-light sidebar collapse">
            <div class="sidebar-sticky pt-3">
                <ul class="nav flex-column">
                    <li class="nav-item">
                        <a class="nav-link active" href="/sales-dashboard/">
                            <span data-feather="home"></span>
                            Organisations <span class="sr-only">(current)</span>
                        </a>
                    </li>
                </ul>

            </div>
        </nav>

        <main role="main" class="col-md-9 ml-sm-auto col-lg-10 px-md-4">
            <div
                class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
                <h1 class="h2">{{organisation.name}}</h1>
            </div>
            <h3>Plan: <strong>{{ organisation.subscription.plan|default:"Free"}}</strong></h3>
            <h3>Seats in Plan: <strong>{{organisation.subscription.max_seats|default:0 }}</strong></h3>

            <h2>Projects</h2>
            <div class="table-responsive">
                <table class="table table-striped table-sm">
                    <thead>
                        <tr>
                            <th>ID</th>
                            <th>Created</th>
                            <th>Name</th>
                            <th>Features</th>
                            <th>Segments</th>
                            <th>Environments</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for project in organisation.projects.all %}
                        <tr>
                            <td>{{project.id}}</td>
                            <td>{{project.created_date}}</td>
                            <td>{{project.name}}</td>             
                            <td>{{project.features.all.count}}</td>             
                            <td>{{project.segments.all.count}}</td>             
                            <td>{{project.environments.all.count}}</td>             
                          </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>

            <h2>Seats in Use: {{ organisation.users.count }}</h2>
            <div class="table-responsive">
                <table class="table table-striped table-sm">
                    <thead>
                        <tr>
                            <th>ID</th>
                            <th>Name</th>
                            <th>Email Address</th>
                            <th>Date Registered</th>
                            <th>Last Logged In</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for user in organisation.users.all %}
                        <tr>
                            <td>{{ user.id }}</td>
                            <td>{{ user.first_name}}</td>
                            <td><a href="mailto:{{user.email}}">{{user.email}}</a></td>
                            <td>{{ user.date_joined }}</td>
                            <td>{{ user.last_login }}</td>
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
            <div>
                <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.8.0/Chart.bundle.js"></script>
                <div class="container">
                    <canvas id="examChart"></canvas>
                </div>
            </div>
        </main>
    </div>
</div>

{% endblock %}

{% block script %}
<script>
var ctx = document.getElementById("examChart").getContext("2d");
var myChart = new Chart(ctx, {
  type: 'bar',
  data: {
    labels: {{labels}},
    datasets: [
      {
        label: 'Flags',
        data: {{flags}},
        backgroundColor: '#D6E9C6',
      },
      {
        label: 'Identities',
        data: {{identities}},
        backgroundColor: '#FAEBCC',
      },
      {
        label: 'Traits',
        data: {{traits}},
        backgroundColor: '#EBCCD1',
      }
    ]
  },
  options: {
    scales: {
      xAxes: [{ stacked: true }],
      yAxes: [{ stacked: true }]
    }
  }
});
</script>
{% endblock %}