appdirs
django-cors-headers
djangorestframework
gunicorn
pyparsing
requests
six
whitenoise
dj-database-url
drf-nested-routers
shortuuid
sendgrid-django
psycopg2-binary
coreapi
Django<4.0
django-simple-history
google-api-python-client
oauth2client
djangorestframework-recursive
packaging
chargebee
python-http-client<3.2.0 # 3.2.0 is the latest but throws an error on installation saying that it's not found
django-health-check
django-storages
django-environ
django-trench
djoser
influxdb-client
django-ordered-model
django-ses
django-axes
django-admin-sso
drf-yasg2
django-debug-toolbar
sentry-sdk
environs
analytics-python
django-lifecycle
drf-writable-nested
django-filter
dataclasses
flagsmith-flag-engine
boto3
slack_sdk
rudder-sdk-python
