django-cors-headers<4.0
djangorestframework<4.0
gunicorn<21.0
requests
whitenoise<4.0
dj-database-url<1.0
drf-nested-routers<1.0
shortuuid<2.0
sendgrid-django<5.0
psycopg2-binary<3.0
Django<3.0
django-simple-history==2.12.0
google-api-python-client<2.0
oauth2client<5.0
djangorestframework-recursive<1.0
chargebee<3.0
python-http-client<3.2.0 # 3.2.0 is the latest but throws an error on installation saying that it's not found
django-health-check<4.0
django-storages<2.0
django-environ<1.0
django-trench<1.0
djoser<3.0
influxdb-client
django-ordered-model<4.0
django-ses<2.0
django-axes<6.0
django-admin-sso
drf-yasg2
django-debug-toolbar<4.0
sentry-sdk<2.0
environs<10.0
analytics-python
django-lifecycle
drf-writable-nested
django-filter
flagsmith-flag-engine
boto3
