name: Run API tests with private package

on:
  pull_request:
    paths:
      - api/**
      - .github/**
      - api/Makefile
      - .release-please-manifest.json
    branches:
      - main

defaults:
  run:
    working-directory: api

jobs:
  test:
    runs-on: depot-ubuntu-latest-16
    name: API Tests

    services:
      postgres:
        image: postgres:15.5-alpine
        env:
          POSTGRES_USER: postgres
          POSTGRES_PASSWORD: postgres
          POSTGRES_DB: postgres
        ports: ['5432:5432']
        options: --health-cmd pg_isready --health-interval 10s --health-timeout 5s --health-retries 5

    steps:
      - name: Cloning repo
        uses: actions/checkout@v5

      - name: Install Poetry
        run: make install-poetry

      - uses: actions/setup-python@v5
        with:
          python-version: '3.12'
          cache: poetry

      - name: Install SAML Dependencies
        run: sudo apt-get install -y xmlsec1

      - name: Install packages and Tests
        shell: bash
        run: |
          echo "https://${{ secrets.GH_PRIVATE_ACCESS_TOKEN }}:@github.com" > ${HOME}/.git-credentials
          git config --global credential.helper store
          make install-packages opts="--with saml,auth-controller,workflows"
          make install-private-modules
          make integrate-private-tests
          rm -rf ${HOME}/.git-credentials

      - name: Run Tests
        env:
          DOTENV_OVERRIDE_FILE: .env-ci
        run: make test
