name: Docs Lint/Link Checks

on:
  pull_request:
    types: [opened, synchronize, reopened, ready_for_review]
    paths:
      - docs/**
      - .github/**

defaults:
  run:
    working-directory: docs

jobs:
  checks:
    runs-on: ubuntu-latest
    name: Link Check Docs

    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Use Node.js 20
        uses: actions/setup-node@v4
        with:
          node-version: 20
          cache: 'npm'
          cache-dependency-path: 'docs/package-lock.json'

      - name: npm install
        run: npm ci --include=dev --ignore-scripts
      - name: Run docusaurus build to check for broken links etc
        run: |
          npx prettier --version
          npx prettier --check docs
          npm run build
