name: Frontend Deploy to Production

on:
    push:
        branches:
            - main
        paths:
            - "frontend/**"
            - ".github/**"

defaults:
    run:
        working-directory: frontend

jobs:
    run-tests:
        runs-on: ubuntu-latest
        name: Run E2E Tests
        environment: production

        steps:
            - name: Cloning repo
              uses: actions/checkout@v2
              with:
                  fetch-depth: 0

            - name: Run E2E Tests
              env:
                  E2E_TEST_TOKEN_PROD: ${{ secrets.E2E_TEST_TOKEN }}
                  ENV: prod
                  SLACK_TOKEN: ${{ secrets.SLACK_TOKEN }}
                  STATIC_ASSET_CDN_URL: /
              run: |
                  wget -q https://dl.google.com/linux/chrome/deb/pool/main/g/google-chrome-stable/google-chrome-stable_96.0.4664.110-1_amd64.deb
                  sudo apt install --allow-downgrades -y ./google-chrome*.deb -f
                  google-chrome --version
                  node -v
                  npm i --legacy-peer-deps
                  npm run env
                  npm run test

    deploy-production:
        runs-on: ubuntu-latest
        name: Deploy to Vercel Production
        environment: production
        needs: run-tests

        steps:
            - name: Cloning repo
              uses: actions/checkout@v2
              with:
                  fetch-depth: 0

            - name: Setup Node.js 16.x
              uses: actions/setup-node@v1
              with:
                  node-version: 16.x

            - name: Cache dependencies
              uses: actions/cache@v2
              with:
                  path: ~/.npm
                  key: npm-${{ hashFiles('package-lock.json') }}
                  restore-keys: npm-

            - name: Deploy to Vercel
              env:
                  VERCEL_PROJECT_ID: ${{ secrets.VERCEL_PROJECT_ID }}
                  VERCEL_ORG_ID: ${{ secrets.VERCEL_ORG_ID }}
                  ENV: prod
              run: |
                  npm ci --only=prod
                  npm run env
                  npm run bundle
                  vercel --prod --token ${{ secrets.VERCEL_TOKEN }}
