name: Platform Pull Requests

on:
    - pull_request

jobs:
    run-e2e-tests:
        runs-on: ubuntu-latest
        name: Full E2E tests
        container: flagsmith/nightwatch:1.2

        services:
            postgres:
                image: postgres:13
                env:
                    POSTGRES_USER: postgres
                    POSTGRES_PASSWORD: postgres
                    POSTGRES_DB: flagsmith
                ports: ['5432:5432']
                options: --health-cmd pg_isready --health-interval 10s --health-timeout 5s --health-retries 5

        steps:
            - name: Cloning repo
              uses: actions/checkout@v2
              with:
                  fetch-depth: 0

            - name: Run API
              working-directory: api
              env:
                  E2E_TEST_AUTH_TOKEN: some-token
                  DJANGO_ALLOWED_HOSTS: '*'
                  DATABASE_URL: postgresql://postgres:postgres@postgres:5432/flagsmith
                  SENDGRID_API_KEY: ${{ secrets.SENDGRID_API_KEY }}
              run: |
                  apt update
                  apt install -y screen
                  python3.8 -m pip install --upgrade pip
                  python3.8 -m pip install -r requirements.txt
                  python3.8 manage.py migrate
                  screen -d -m python3.8 manage.py runserver

            - name: Test with Chromedriver
              working-directory: frontend
              env:
                  ENV: local
                  E2E_TEST_TOKEN_DEV: some-token
              run: |
                  google-chrome --version
                  node -v
                  npm i
                  npm run env
                  npm run test
