name: Platform Pull Requests

on:
    pull_request:
        types: [opened, synchronize, reopened, ready_for_review]

jobs:
    run-e2e-tests:
        if: github.event.pull_request.draft == false
        runs-on: ubuntu-latest
        name: Full E2E tests

        services:
            postgres:
                image: postgres:11.12-alpine
                env:
                    POSTGRES_USER: postgres
                    POSTGRES_PASSWORD: postgres
                    POSTGRES_DB: flagsmith
                ports: ['5432:5432']
                options: --health-cmd pg_isready --health-interval 10s --health-timeout 5s --health-retries 5

        steps:
            - name: Cloning repo
              uses: actions/checkout@v2
              with:
                  fetch-depth: 0

            - name: Cache npm
              uses: actions/cache@v2
              with:
                  path: frontend/node_modules
                  key: ${{ runner.os }}-node-${{ hashFiles('frontend/package-lock.json') }}
                  restore-keys: |
                      ${{ runner.os }}-node-

            - name: Set up Python 3.8
              uses: actions/setup-python@v2
              with:
                  python-version: 3.8

            - name: Copy pip requirements
              run: |
                  cp api/requirements.txt .
                  
            - name: Restore VirtualEnv from cache
              uses: syphar/restore-virtualenv@v1.2
              id: cache-api

            - name: Restore Pip from cache
              uses: syphar/restore-pip-download-cache@v1
              if: steps.cache-api.outputs.cache-hit != 'true'

            - name: Install Dependencies
              if: steps.cache-api.outputs.cache-hit != 'true'
              run: |
                  python -m pip install --upgrade pip
                  pip install -r requirements.txt

            - name: Run API
              working-directory: api
              env:
                  E2E_TEST_AUTH_TOKEN: some-token
                  DJANGO_ALLOWED_HOSTS: '*'
                  DATABASE_URL: postgres://postgres:postgres@localhost:5432/flagsmith
                  SENDGRID_API_KEY: ${{ secrets.SENDGRID_API_KEY }}
                  DJANGO_SETTINGS_MODULE: app.settings.test
                  FE_E2E_TEST_USER_EMAIL: nightwatch@solidstategroup.com
                  SENTRY_SDK_DSN: ${{ secrets.SENTRY_SDK_DSN }}
              run: |
                  python manage.py migrate
                  python manage.py runserver &

            - name: Run E2E Tests with Chromedriver
              working-directory: frontend
              env:
                  ENV: local
                  STATIC_ASSET_CDN_URL: /
                  E2E_TEST_TOKEN_DEV: some-token
                  ENABLE_INFLUXDB_FEATURES: false
              run: |
                  wget -q https://dl.google.com/linux/chrome/deb/pool/main/g/google-chrome-stable/google-chrome-stable_96.0.4664.45-1_amd64.deb
                  sudo apt install --allow-downgrades -y ./google-chrome*.deb -f
                  google-chrome --version
                  node -v
                  npm i
                  npm run env
                  npm run test
