name: Platform Publish Docker Images

on:
  push:
    tags:
      - '*'

jobs:
  build-dockerhub:
    runs-on: ubuntu-latest
    name: Platform Publish Docker Image

    permissions:
      id-token: write
      contents: read

    steps:
      - name: Cloning repo
        uses: actions/checkout@v3

      - name: Docker metadata
        id: meta
        uses: docker/metadata-action@v4
        with:
          images: |
            flagsmith/flagsmith
          tags: |
            type=semver,pattern={{version}}
            type=semver,pattern={{major}}.{{minor}}

      - name: Write git info to Docker image
        run: |
          echo ${{ github.sha }} > api/CI_COMMIT_SHA

      - name: Set up Depot CLI
        uses: depot/setup-action@v1

      - name: Login to DockerHub
        uses: docker/login-action@v2
        with:
          username: ${{ secrets.DOCKERHUB_USERNAME }}
          password: ${{ secrets.DOCKERHUB_TOKEN }}

      - name: Build and push images
        id: docker_build
        uses: depot/build-push-action@v1
        with:
          platforms: linux/amd64,linux/arm64
          file: Dockerfile
          project: qsrts2l4gr
          push: true
          tags: ${{ steps.meta.outputs.tags }}
          context: .

      - name: Set up release tag variables
        run: |
          TAG=${{github.ref_name}}
          echo "version_trim=${TAG#v}" >> $GITHUB_ENV

      - name: Update flagsmith-charts values.yaml with latest docker version
        uses: fjogeleit/yaml-update-action@main
        with:
          token: ${{ secrets.FLAGSMITH_CHARTS_GITHUB_TOKEN }}
          repository: flagsmith/flagsmith-charts
          workDir: chart
          masterBranchName: 'main'
          targetBranch: 'main'
          branch: docker-image-version-bump-${{ env.version_trim }}
          commitChange: true
          createPR: true
          message: 'Flagsmith docker image version bump'
          description: 'Automated PR generated by a release event in https://github.com/Flagsmith/flagsmith'
          valueFile: 'charts/flagsmith/Chart.yaml'
          value: ${{ env.version_trim }}
          propertyPath: 'appVersion'
